[2016-09-04 15:08] SonnyX opened #2 "Missing download button for pictures andere video's, insta stories do work"
20160904_141621 - XInsta Initialized
20160904_141621 - Instagram Version Code: 37734557
20160904_141621 - Device Codename: SM-G900F
20160904_141621 - Android Version: 6.0.1
20160904_141621 - XInsta Version 1.7.4
20160904_141621 - Media Options Button Hook Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20160904_141621 - Trying New Push Notification Method

[2016-09-04 15:09] iHelp101 commented on #2
You need to update to XInsta 1.7.6.

[2016-09-05 05:27] #2 closed

[2016-09-05 06:02] SonnyX commented on #2
Worked like a charm, thanks!
Somehow versions 1.7.5 and 1.7.6 didn't show up (and still doesn't for me) in xposed installer.

[2017-10-11 10:22] linjie997 opened #10 "Instagram force close"
Instagram force close when I click on some user profile from Instagram stories

Device: Xiaomi Mi5, Paranoid Android (Android 7.1.2)
Instagram: 19.0.0.2.91
Xinsta: 1.9.8

[Log_2017-10-11_12-20-47.txt](https://github.com/iHelp101/XInsta/files/1375182/Log_2017-10-11_12-20-47.txt)

[2017-10-11 18:42] linjie997 commented on #10
Looks like a problem with Instagram beta, restored the stable and works good

[2017-10-11 18:42] #10 closed

[2018-01-10 06:31] hacker1024 opened #12 "Please upload you top-level build.gradle file"
It's very hard to build without it - I have to create a new android app and copy the "app" folder.

[2018-01-17 01:07] iHelp101 commented on #12
Completed.

[2018-01-19 21:05] #12 closed

[2018-01-24 13:29] erkin98 opened #13 "Can't download section pictures or videos"
İ can't download more photos or videos same time

[2018-01-24 14:03] iHelp101 commented on #13
I have the latest hooks on the Pastebin source (Open XInsta -> Click Pastebin and reboot). I will push the changes to GitHuh shortly after I ensure they are all correct.

[2018-01-24 21:24] iHelp101 commented on #13
The hooks have been pushed/updates for GitHub.

[2018-01-24 21:24] #13 closed

[2018-01-27 23:32] geramnya opened #14 "Feature"
Make change color in following list

[2018-01-27 23:41] iHelp101 commented on #14
Can you explain this a little more?

[2018-01-28 12:42] geramnya commented on #14
I mean for follow indicator already exist but need to add some like that in tab me-->following(change colour for who have follow back)..if not understand give me email and i will sent screenshot😁

[2018-01-28 16:20] iHelp101 commented on #14
I looked into this. At the moment this is not appearing possible due to how Instagram stores this information. The tag "followed_by" is not currently in the user class, which means it's can't be references to know if a user follows you back. I will look some more, but no promises.

[2018-01-28 17:34] bramdsgn opened #15 "profile picture download"
Downloading profile pictures not working anymore, they made some changes. Now you need to remove the "vp/" part, and change the size to "s1080x1080" or "s720x720" can you make an update?

[2018-01-28 17:39] iHelp101 commented on #15
I have a fix for this already. I will be releasing XInsta 2.0 shortly. I am waiting on some final feedback from some testers. The way XInsta handles these post is by removed /vp/ and the URL hashes. An example is below.

https://scontent-mia3-2.cdninstagram.com/vp/4d7fa77be16a8f5feabdaa481cfd6639/5B21CAE8/t51.2885-19/s150x150/13597791_261499887553333_1855531912_a.jpg

https://scontent-mia3-2.cdnin

[2018-01-29 13:11] bramdsgn commented on #15
Even better,
Can't wait :)

[2018-02-01 07:36] maharshi22397 opened #16 "Feature"
can you add feature for privacy in chats eg.
if you send any person a photo it shows like delivered , opened, captured screen shot.
i mean if i take screen shot of that photo then it shows sender that a screen shot was taken.
![inkedscreenshot_20180201-125707_li](https://user-images.githubusercontent.com/36028327/35666565-93c43018-0750-11e8-818d-4b535f2cefe2.jpg)

[2018-02-01 13:19] iHelp101 commented on #15
Resolved In XInsta 2.0.0.

[2018-02-01 13:19] #15 closed

[2018-02-01 13:21] iHelp101 commented on #16
I will look into it. With direct messages/chats you can long press an image and download it, so a screenshot is not required. I will look into blocking status updated of delivered, opened, etc.

[2018-02-11 16:56] koko-ng opened #17 "Hide discover section"
It could be a nice feature to remove the discover section, or just to keep the search bar. Honestly, I just keep losing my time scrolling this section.

[2018-02-12 04:51] dubyadud opened #18 "Sponsored no longer blocked"
Instagram's "Sponsored" posts are no longer removed from feed.  Any chance you can fix this feature?  As-is, Instagram has way too damn many of these sponsor ads.

[2018-02-12 04:55] iHelp101 commented on #18
Please attach your Xposed error log. I am not aware of any hooks issues related to sponsored post.

[2018-02-12 04:56] iHelp101 commented on #17
Can you attach a screenshot with the items you would like removed circled or highlighted?

[2018-02-12 05:01] dubyadud commented on #18
https://drive.google.com/file/d/1u26u32i47o2RvbFUE6MjC2y1xpyjUvlX/view?usp=drivesdk

[2018-02-12 05:05] iHelp101 commented on #18
Your Xposed error log for some reason is full of random symbols. Can you instead open XInsta -> Three Line Icon -> Send Error Log. That should give a cleaner log.

[2018-02-12 12:46] dubyadud commented on #18
Sorry about that:
https://drive.google.com/file/d/1P0wk0S1nX96TYE-z5F8VOcRM2QXK68fE/view?usp=drivesdk

[2018-02-12 13:20] iHelp101 commented on #18
I just tested this exact version you are on and I am having no issues with sponsored post. Are you seeing paid sponsorships maybe (Brand deals with users for example)?

[2018-02-12 13:52] dubyadud commented on #18
https://i.imgur.com/V6SvqBp.png

Perhaps I just didn't notice them before, or wasn't getting them?  If these are not blocked now; can it he implemented?

[2018-02-12 17:16] iHelp101 commented on #18
Okay, I am looking into this more. These are normally blocked. One thing to note is the first sponsored post is sometimes not blocked or has only parts of it blocked. This is due to how Instagram loads content (Not fully loaded until in focus).

[2018-02-12 17:47] dubyadud commented on #18
I have several of these in my feed too.  Thanks for looking into it!

[2018-02-12 19:54] iHelp101 commented on #16
I have added hooks to block the screenshot detection. Statuses can not be hooked. Instagram updates the status when an image/video is fetched. This is server side.

[2018-02-12 19:55] iHelp101 commented on #14
I have spent a good amount of time trying to get this working. Due to current limitations this is not possible.

[2018-02-12 19:55] #14 closed

[2018-02-12 20:02] iHelp101 commented on #17
I linkee an example screenshot. Is this the desired results? Please excuse the small areas that were not cover up white.

https://i.imgur.com/6Skbwi4.png

[2018-02-12 20:03] #16 closed

[2018-02-13 01:43] iHelp101 commented on #18
Can you please uninstall XInsta, reboot, install XInsta, and reboot once more? I can't seem to find any other reason sponsored post are not hidden besides an upgrade issue (1.9.99 to 2.0.0).

[2018-02-13 11:21] koko-ng commented on #17
Exactly, thanks. Maybe you could switch directly to the view when we press on the search bar? As it was, if I remember well, before the discover section was introduced.

[2018-02-13 12:24] dubyadud commented on #18
1.9.99 works

[2018-02-18 18:37] #18 closed

[2018-02-19 02:09] iHelp101 commented on #17
Your requested feature has been added to the module. It will be in the next update. I will work on adding it to the hooks shortly and get the hook complete. An example of the hook in progress is below.

XposedHelpers.findAndHookMethod("com.instagram.explore.m.bc", lpparam.classLoader, "onCreateView", LayoutInflater.class, ViewGroup.class, Bundle.class, new XC_MethodHook() {
                @Overri

[2018-02-19 03:20] x0x0x0x0 opened #19 "How to get old date formatting?"
In the latest version I believe date formatting was added. Thing is I would like to see the x hours ago instead of an exact time, is there any way to switch between the exact time and the hrs ago?

[2018-02-19 14:59] iHelp101 commented on #19
When changing the setting activity I did not add an option to disable this by accident. It will be fixed in the next update. Please open /storage/emulated/0/.Instagram/ with a file browser and delete the Date.txt file.

[2018-02-20 16:54] x0x0x0x0 commented on #19
Alright, thank you!

[2018-02-20 18:48] #19 closed

[2018-02-20 18:49] #17 closed

[2018-03-01 04:21] geramnya opened #20 "Screenshot"
How to setup privacy for screenshot. I didn't find any section tab

[2018-03-01 04:22] iHelp101 commented on #20
It is automatically enabled. A few key features are automatically enabled to have a better user experience. For example, hiding sponsored posts is automatically enabled as well.

[2018-03-01 08:35] geramnya commented on #20
Thanks

[2018-03-01 08:35] #20 closed

[2018-03-23 03:46] acsway878787 opened #22 "Downloading and Settings not work"
Tried to download videos and photos, and both failed.
By the way, the switches in Settings couldn't be turned on properly. If I turn something on then return back to main menu of XInsta, the options I changed will be reverted back to defaults. However, this doesn't happen on all of the options, some works well, like "Hide Download Notification For Completed Download" , some turns out buggy, such a

[2018-03-23 04:22] LuneWalsh opened #23 "Can't download photos and videos with any version of Instagram Alpha or Beta"
Please check out my XInsta Error Log.

k5MQ%3D%3D.2&ig_cache_prefix=full_size_
20180323_010552 - Falling Back To New Video Method
20180323_010552 - Download Error - java.io.FileNotFoundException: https://instagram.fgru7-1.fna.fbcdn.net/t50.2886-16/29013262_1645430875504342_1192808410618265600_n.mp4
20180323_010555 - Falling Back To New Video Method
20180323_010555 - Switch Link - Different Media T

[2018-03-23 11:44] stevesbrain commented on #22
Same issue here

[2018-03-23 11:45] stevesbrain commented on #23
Can confirm, the same happens here (only since today, yesterday was fine)

[2018-03-23 12:05] yanfedorov commented on #23
same problem

[2018-03-23 12:44] iHelp101 commented on #22
I am working on this issue. If you click a URL from your error log you will see Access Denied. Instagram is enforcing URL signatures, which is causing issues for XInsta. I have a fix, but that fix does not allow full resolution downloads for all users. The URL Instagram provides is dependent on the device.

[2018-03-23 12:44] iHelp101 commented on #23
I am working on this issue. Instagram is enforcing URL signatures, which break downloads that attempt to download full resolution images/videos.

[2018-03-23 17:55] marcosfiniano opened #24 "I can not download anything, why is this error?"
Since yesterday is not working, please can fix this error

[2018-03-23 18:04] marcosfiniano commented on #24
13:55:14.522 I/Xposed  (19789): XInsta - Android Version: 8.0.0
03-23 13:55:14.546 I/Xposed  (19789): XInsta - XInsta Version 2.0.2
03-23 13:55:15.384 I/Xposed  (19789): XInsta - Discovery Class Failed - java.lang.NullPointerException: className must not be null.
03-23 13:55:15.411 I/Xposed  (19789): XInsta - Discovery Class - null
03-23 13:55:15.440 I/Xposed  (19789): XInsta - Liked Post Failed -

[2018-03-23 18:27] iHelp101 commented on #24
This is due to a signature URL change by Instagram. It is causing downloads to fail. I am working on a solution.

[2018-03-23 20:06] marcosfiniano commented on #24
thank you for taking your time, I appreciate your attention

[2018-03-24 10:09] ibnux commented on #23
It doesn't matter for short time to update it with standard resolution download.
If it still cannot get the highest quality

[2018-03-24 10:43] stevesbrain commented on #23
Thanks @ihelp101 - much appreciate your work :)

[2018-03-24 20:47] Piyushyadav30 commented on #24
Cannot download the images and videos from Instagram do something help me after the last update

[2018-03-24 23:15] FinnMartinz opened #25 "Where are logs?"
Where does Xinsta store log files?

[2018-03-24 23:16] iHelp101 commented on #25
/storage/emulated/0/.Instagram/ and the file will be Error.txt.

[2018-03-25 04:21] yanfedorov opened #26 "Cannot download"
Button "Download" disappeared

- 20180324_233544 - Device Codename: Redmi Note 4
- 20180324_233544 - Android Version: 6.0
- 20180324_233544 - XInsta Version 2.0.2
- 20180325_070906 - Falling Back To New Video Method
- 20180325_070906 - Switch Link - Different Media Type
- 20180325_070907 - Download Error - java.io.FileNotFoundException: https://scontent-arn2-1.cdninstagram.com/t51.2885-15/e35/2941

[2018-03-25 04:35] iHelp101 commented on #26
Your Xposed bugged out and is not loading the module after the update. Please uninstall XInsta, reboot, install XInsta, and reboot once more.

[2018-03-27 05:39] kamzj opened #28 "Download failed"
For the past one week even after updating the hooks, Xinsta gives me the "download failed" error" What couls be the problem, i have even tries to downgrade both the Instagram and Xinsta app to no avail. Please help!!

[2018-03-27 08:47] brato-mo commented on #23
Still i cant download...fix it please

[2018-03-27 12:28] brato-mo commented on #28
Same here

[2018-03-27 12:30] #23 closed

[2018-03-27 12:30] #24 closed

[2018-03-27 12:30] #25 closed

[2018-03-27 12:31] iHelp101 commented on #28
XInsta 2.0.3 resolves this issue. Have you updated to it?

[2018-03-27 13:27] kamzj commented on #28
Thank you, i will update it soon and give you feedback.

On Tue, Mar 27, 2018 at 3:31 PM, iHelp101 <notifications@github.com> wrote:

[2018-03-27 13:54] brato-mo commented on #28
After restarting phone, its working now. Ty

[2018-03-27 14:33] brato-mo commented on #28
When i try to download story, instagram stops responding.

[2018-03-27 14:35] iHelp101 commented on #28
Please provide your Xposed error log.

[2018-03-27 14:36] brato-mo commented on #28
@iHelp101 how do i upload it and where

[2018-03-27 14:40] brato-mo commented on #28
@iHelp101
20180327_162700 - XInsta Initialized
20180327_162700 - Instagram Version Code: 99668514
20180327_162700 - Device Codename: HTC One M9
20180327_162700 - Android Version: 7.0
20180327_162700 - XInsta Version 2.0.3
20180327_162701 - Hooks Fetched!
20180327_162701 - Experimental Hooks Set
20180327_162703 - Pin Press New Touch Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index

[2018-03-27 15:01] iHelp101 commented on #28
I will work on updating the hooks for this new Instagram version shortly.

[2018-03-27 15:43] iHelp101 commented on #28
I updated the hooks for this version. Please reboot your device and everything should be working nicely again.

[2018-03-27 16:15] brato-mo commented on #28
Its working. Thank you !

[2018-03-27 16:15] #28 closed

[2018-03-27 16:23] #22 closed

[2018-03-27 19:13] kamzj commented on #28
Even after updating to the latest version, it still doesn't work.

On Tue, Mar 27, 2018 at 7:15 PM, iHelp101 <notifications@github.com> wrote:

[2018-03-27 19:15] iHelp101 commented on #28
Attach your Xposed error log please.

[2018-03-27 19:45] kamzj commented on #28
My SuperSu has an error loggin activity for the current app don't know what
is the problem.

On Tue, Mar 27, 2018 at 10:15 PM, iHelp101 <notifications@github.com> wrote:

[2018-03-27 19:46] iHelp101 commented on #28
Please open Xposed -> Three Line Icon -> Logs. You can send the log to XInsta@ihelp101.com

[2018-03-27 22:31] stevesbrain commented on #23
@brato-mo It was fixed; update your plugin :)

[2018-04-03 02:12] LuneWalsh opened #29 "The download button, is missing and I can't download anything"
I have the latest version 2.0.4, but nothing happens, it won't download anything, can you check this? 04-02 23:02:19.387 I/Xposed  (  924): -----------------
04-02 23:02:19.387 I/Xposed  (  924): Starting Xposed version 90-beta3, compiled for SDK 26
04-02 23:02:19.387 I/Xposed  (  924): Device: ASUS_Z012DC (asus), Android version 8.0.0 (SDK 26)
04-02 23:02:19.387 I/Xposed  (  924): ROM: OPR1.17062

[2018-04-03 03:17] iHelp101 commented on #29
I just pushed some hook updates for this new version. Please see Instagram is playing nicely again.

[2018-04-03 03:28] LuneWalsh commented on #29
Thanks everything's normal now, hugs and kisses.

[2018-04-03 03:38] #29 closed

[2018-04-06 05:31] FinnMartinz opened #30 "Bad image/video quality after enabling xinsta"
I got all my images and videos from Instgram feed blurred and pixled right after enabling Xinsta, So surely Xinsta is involved in making this bug occur.
How do I solve that?

[2018-04-06 13:59] iHelp101 commented on #30
Did you enable the force high resolution feature? This feature can cause issues on certain devices.

[2018-04-07 18:55] FinnMartinz commented on #30
I found that the feature itself is what caused the blurred images at first place. Images as well as videos are way better without it.

[2018-04-07 18:55] #30 closed

[2018-04-10 04:24] LuneWalsh opened #31 "Download button missing again"
                                                                                                                     04-10 01:22:57.294 ?/SENTINEL_TAG( 9992): SENTINEL_MSG_LIBCUTILS
04-10 01:22:57.294 ?/SENTINEL_TAG( 9992): SENTINEL_MSG_LIBLOG
04-10 01:22:57.602 I/Xposed  (10040): XInsta - XInsta Initialized
04-10 01:22:57.616 I/Xposed  (10040): XInsta - Instagram Version Code: 102223529
04-10 01:

[2018-04-10 13:42] iHelp101 commented on #31
For some reason your error log is missing the line that says the Instagram version you are using. Do you know the version you are using so I can check the hooks for it?

[2018-04-10 15:20] brato-mo commented on #31
I have issue also. History is showing in search bar, it is off in options but it still shows it. Updated instagram today

[2018-04-10 15:29] iHelp101 commented on #31
Okay, I am working on the hooks now for some new versions that got uploaded to APKMirror. Hopefully one of these versions is the one you are using.

[2018-04-10 22:45] agtpirrone opened #32 "Facing a bug. [Multiple accounts]"
I have two different accounts logged in my phone. Whenever I want to download a story, everything is fine if the app just started. But if afterwards I switch accounts, I can't download stories no more. I have to force quit Instagram. And try again. Then is okay. But if I switch accounts there's the error again. Everything else looks working good.

Here's my log. I don't know if there is a more com

[2018-04-10 22:53] iHelp101 commented on #32
The error is out of my control. It is from the OS (Android) saying for some reason it can't connect to Instagram to download the requested content. I can only request Android opens and URL. If Android returns back that it's can't I have little if any control. I will look further into this, but network related issues are OS related.

Download Error - java.net.ConnectException: failed to connect to

[2018-04-10 23:08] agtpirrone commented on #32
Oh well, thanks for the quick response. Do you think is a Instagram version + android version related? I have had always Marshmallow with XInsta. The only thing that has changed its the Instagram version, and of course XInsta, which I maintain updated because you are doing a great job.

My phone is working laggy lately. I had to apply the Bootloop of death fix and so I only have 4 cores and everyt

[2018-04-10 23:53] iHelp101 commented on #32
I truly have no idea why you are having the issue. It is a returned message by the OS. XInsta, Instagram, and Xposed don't handle network connections (OS does). The returned messaged is saying the connection is refused. This overall means the connection to Instagram couldn't be made, but many factor go into this. I do see that you pass downloads to XInsta, which means it is likely not an Instagram

[2018-04-11 15:31] #31 closed

[2018-04-12 06:46] LuneWalsh opened #33 "Please update the hooks"
Instagram released a new version of the app again, and the download button is missing again

04-12 03:44:44.938 I/Xposed  (14108): XInsta - Instagram Version Code: 102625270
04-12 03:44:44.949 I/Xposed  (14108): XInsta - Device Codename: ASUS_Z012DC
04-12 03:44:44.956 I/Xposed  (14108): XInsta - Android Version: 8.0.0
04-12 03:44:44.964 I/Xposed  (14108): XInsta - XInsta Version 2.0.4
04-12 03:44:

[2018-04-12 15:32] punitpi opened #34 "Instagram force closes"
when scrolled down it force closes

[2018-04-12 17:06] iHelp101 commented on #33
The hooks have been updated to support this version.

[2018-04-12 17:06] #33 closed

[2018-04-12 17:06] iHelp101 commented on #34
I updated the hooks recently. Are you still having this issue? Or is it resolved? Thank you.

[2018-04-12 17:12] punitpi commented on #34
It wasn't there yesterday!! It started today like 3-4 hours back

[2018-04-12 17:13] iHelp101 commented on #34
Can you attach your Xposed or XInsta error log? I wonder if you have a version of Instagram that in not on APKMirror yet.

[2018-04-12 17:35] punitpi commented on #34
`
[04-12 22:51:39.118 841:8363 E/AnalyticsUploader]
error in uploading the analytic file
com.instagram.common.p.f.a: AsyncSocketException: connect failed, type = Socket not open, errno = 111 (Connection refused)
	at com.instagram.common.p.f.q.onError(:203484)
	at com.facebook.proxygen.JniHandler.onError(:73552)
	at com.facebook.proxygen.EventBase.loopForever(Native Method)
	at com.facebook.proxyge

[2018-04-12 17:36] punitpi commented on #34
and the version on my phone was updated 2 days ago and there is a updated version on apkmirror

[2018-04-12 17:40] iHelp101 commented on #34
Can you get me the Instagram version code? In your Xposed log it will say "Instagram Version Code: XXXXXXXX". That way I can install this version on my device and do some testing.

[2018-04-12 17:44] punitpi commented on #34
-12 22:55:52.248 I/Xposed  (11764): XInsta - XInsta Initialized
04-12 22:55:52.266 I/Xposed  (11764): XInsta - Instagram Version Code: 102221279
04-12 22:55:52.274 I/Xposed  (11764): XInsta - Device Codename: ONEPLUS A5000
04-12 22:55:52.281 I/Xposed  (11764): XInsta - Android Version: 8.0.0
04-12 22:55:52.286 E/Xposed  (11764): Zygote service is not accessible from PID 11764, UID 10103
04-12 22:5

[2018-04-12 18:04] iHelp101 commented on #34
I just tested this version and I am having no issues. Can you disable SudoHide, reboot, and see if you still face the issue? Most of the crashes I am seeing an related to HTTP request failing, which XInsta doesn't complete unless downloading a post, icon, etc.

[2018-04-12 18:28] punitpi commented on #34
I have already uninstalled sudo hide and restarted the phone

[2018-04-13 00:27] yazanjamous commented on #34
Profile pic zoom not working now!

[2018-04-13 01:29] iHelp101 commented on #34
@yazanjamous I am aware of this issue. They removed an unofficial API, which was my worry. I am looking for a solution.

https://www.instagram.com/natgeo/?__a=1

[2018-04-13 01:30] iHelp101 commented on #34
@punitpi I am looking further into this. Is there any chance you can get me a logcat of the crash? That will allow me to see the exact piece of code causing the crash.

[2018-04-13 01:52] yazanjamous commented on #34
@iHelp101 im also developer

instagram banned https://www.instagram.com/username/?__a=1
but will work after a few hrs but also will banned api again same yesterday

see this post
https://later.com/blog/instagram-api/

[2018-04-13 02:00] iHelp101 commented on #34
@yazanjamous Yup, it was an unofficial API. The previous was https://www.instagram.com/username/media. I received an email regarding this about a week ago from Instagram. I was hoping this unofficial API would fall under one of the listed public content or basic endpoints, but this of course was not an official endpoint. It appears this feature is going to be very difficult to fix if possible to f

[2018-04-13 02:06] yazandev commented on #34
@iHelp101 but we can find the url from instagram app without use api

eximple :
invoke-virtual {v1, v0}, Lcom/instagram/common/ui/widget/imageview/IgImageView;->setUrl(Ljava/lang/String;)V

this url but not hd .. but can find hd if search..

[2018-04-13 02:15] iHelp101 commented on #34
@yazandev Instagram only serves their profile icons in 150x150 (Rare cases 300x300 for certain tablets). They never serve a full resolution profile icon (1080x1080) that I have seen. All URLs are verified by signatures, so you can't request different sizes.

[2018-04-13 02:16] yazandev commented on #34
@iHelp101 yes but from 2 years i was use this
string.replace("/s150x150", "").replace("s150x150/", "");

and was works! but now no!

[2018-04-13 10:34] nullbert opened #35 "Feature request: Verified spoofing"
You have to be verified to add links in stories.

[2018-04-14 06:20] TheMusicFella opened #36 "Low Res Profile Pictures while viewing and downloading."
Title says it all. Pictures are really low resolution while viewing and after downloading.

[2018-04-23 02:55] iHelp101 commented on #35
This is server side. I can not spoof/alter this.

[2018-04-23 02:55] #35 closed

[2018-04-23 02:56] iHelp101 commented on #36
A solution will be in the next update.

[2018-04-23 02:56] #36 closed

[2018-04-27 21:12] jizzy002 opened #37 "Instagram freeze"
Instagram freezes while trying to open a sub menu in direct messages (delete converastion etc.)

[2018-04-27 21:13] iHelp101 commented on #37
I got a report of this issue from another user. If this when long pressing media/text in DM's? Can you provide a logcat?

[2018-04-27 21:16] jizzy002 commented on #37
While long pressing media,text,conversations in DM.
i will provide a logcat soon

[2018-04-28 14:49] iHelp101 commented on #37
Hello, I wanted to follow-up with you. Any luck getting a logcat of this crash/freezing?

[2018-04-29 19:08] jizzy002 commented on #37
Sorry for waiting here is a full logcat.
[logcat.txt](https://github.com/iHelp101/XInsta/files/1959076/logcat.txt)

[2018-05-08 19:29] erkin98 opened #38 "Latest version"
Xinsta doesn't work latest version instagram

[2018-05-08 23:15] iHelp101 commented on #37
This has been resolved and will be in the next update.

[2018-05-08 23:15] #37 closed

[2018-05-08 23:16] iHelp101 commented on #38
The hooks have been updated. Please close the issue if everything is working nicely again.

[2018-05-09 17:08] achozex opened #39 "Low quality picture download"
Hello, I'm using the latest Instagram app but facing an issue with downloading the profile picture, it download with a very low quality

Thank you

[2018-05-09 23:48] iHelp101 commented on #39
I have a solution for this, which will be in the next update.

[2018-05-10 11:15] #38 closed

[2018-05-10 11:17] erkin98 opened #40 "Profile photo view"
When i  view someone profil photo it show very low quality

[2018-05-15 18:05] jizzy002 commented on #37
Tested today just by accident, long press in DM works again fully

[2018-05-16 04:23] woeijiunn88 opened #41 "Search history failed to hide"
It seems failed to hide the search history even I selected disable search history option.

[2018-05-16 13:41] iHelp101 commented on #41
Please attach your XInsta error log or Xposed error log. That way I can test XInsta on the specific Instagram version you are using.

[2018-05-16 22:07] agtpirrone commented on #32
Just an update on this. I know the problem hasnt been properly adressed and its might even be a problem on my side.
But, i have upgraded to Android Oreo again and havent experienced the issue on this version of android.

[2018-05-22 21:16] jizzy002 opened #42 "Feed download"
Can't download anything in main feed while opening the page sepaeately and then dowoading works

[2018-05-25 07:16] yanfedorov commented on #42
I can't download any photo in feed, but downloading stories still works.

[2018-05-26 06:57] yanfedorov opened #43 "Stories Privacy doesn't work"
[code]

[2018-05-26 14:34] aashutoshrathi opened #44 "XInsta not working at all"

[2018-05-26 19:26] aashutoshrathi commented on #44
Thanks.
The new update fixed this

[2018-05-26 19:26] #44 closed

[2018-05-26 19:28] iHelp101 commented on #43
XInsta 2.0.5 resolves this issue. Please re-open this issue if you still have issues after updating.

[2018-05-26 19:28] #43 closed

[2018-05-26 19:28] iHelp101 commented on #42
XInsta 2.0.5 resolves this issue. Please re-open this issue if you still have issues after updating.

[2018-05-26 19:28] #42 closed

[2018-05-26 19:28] iHelp101 commented on #41
XInsta 2.0.5 resolves this issue. Please re-open this issue if you still have issues after updating.

[2018-05-26 19:28] #41 closed

[2018-05-26 19:28] iHelp101 commented on #40
XInsta 2.0.5 resolves this issue. Please re-open this issue if you still have issues after updating.

[2018-05-26 19:28] #40 closed

[2018-05-26 19:28] iHelp101 commented on #39
XInsta 2.0.5 resolves this issue. Please re-open this issue if you still have issues after updating.

[2018-05-26 19:28] #39 closed

[2018-05-26 19:29] woeijiunn88 commented on #41
@iHelp101 omg forgot reply this

[2018-05-26 19:29] woeijiunn88 commented on #41
@iHelp101 i will try then:smile:

[2018-05-26 20:06] herdidi47 opened #45 "Closing stories broken"
if you close IG stories (manually or automatic if you run out of new stories, the stories is freezing.

log and video here : https://drive.google.com/folderview?id=1ZjTJelqakkuGA4dqdqJOsbvdluEUfOY2

additional info : latest hook with experimental on. xinsta 2.0.5

[2018-05-26 20:10] jizzy002 commented on #45
Same issue here

[2018-05-26 20:37] iHelp101 commented on #45
I am not able to replicate this issue on this specific Instagram version. Does this issue only occur video stories? Or do images have this issue as well?

[2018-05-26 20:39] jizzy002 commented on #45
Images and videos.

[2018-05-26 20:45] iHelp101 commented on #45
Since Instagram is migrating to a new stories viewer/player (HeroPlayer) lets make sure XInsta is the cause the the freezing/crash. Open Xposed -> Three Line Icon -> Modules -> Uncheck XInsta and reboot. Verify if the issue is no longer present.

[2018-05-26 21:04] jizzy002 commented on #45
Disabled Xinsta,rebooted and tested stories,works again normally

[2018-05-26 21:07] iHelp101 commented on #45
Alright, XInsta has four hooks related to stories timers (MediaPlayer, ExoPlayer, HeroPlayer, and Image Timer). Give me a few minutes and I will make a test APK. The image timer hooks hooks a method related to back press, so it is the likely culprit.

[2018-05-26 21:11] jizzy002 commented on #45
Thanks for your fast responses!

[2018-05-26 21:13] iHelp101 commented on #45
Here is the test APK with the stories image timer disabled. It is an older hook that hasn't changed in a while, so it is interesting that it is having issues.

https://drive.google.com/open?id=1OXZUrkLC0NVUMR8t0TMEAqMd9AqpOJYw

[2018-05-26 21:27] iHelp101 commented on #45
Just to make sure I understand lets rephrase this. I have my understanding of the issue below.

Disable Stories Timer Feature On - Issue
Disable Stories Timer Feature Off - No Issue

[2018-05-26 21:30] jizzy002 commented on #45
Yeah just like that.

[2018-05-26 21:43] iHelp101 commented on #45
Okay, I am looking further into it. This is one of the last versions of Instagram before HeroPlayer was integrated fully. So it may be a hiccup with the hook. I am looking deeper into the code. The only hook that is related to back presses is the stories image timer hook. This hook when a video hook does not work will stop a post from initially exiting automatically (Count down). The video hook is

[2018-05-26 21:49] jizzy002 commented on #45
Before the 2.0.5 update,you could normally exit (backpress), but stories would freeze not loop.
The main issue now is that you cannot backpress out of stories without fully freezing a fullscreen frame of the video or picture.

[2018-05-26 21:59] erkin98 opened #46 "Latest version"
Latest version of instagram can't downloaded anything

[2018-05-26 22:31] iHelp101 commented on #45
I have a local Git to track changes between updates, so I have been looking for changes that may cause this unexpected behavior. I reversed a hook related to hiding stories views (On main feed). Maybe it has a conflict with stories when closing.

https://drive.google.com/open?id=1w4QtRLkPVxkJoFpf19GbqkpYpWGK1iT9

[2018-05-26 22:44] jizzy002 commented on #45
Now video doesn't want to loop but it stops, not a huge problem for me but exiting out of the stories works normally. Everything else works fine i think.

[2018-05-26 22:54] iHelp101 commented on #45
Alright, use Instagram like you normally would for the weekend and report any issues you have. The loop hook is not going to work with this version due to HeroPlayer being half implemented (Missing setLoop method).

[2018-05-26 22:58] jizzy002 commented on #45
I will watch out for any other issues, thanks for fixing this so fast 👍

[2018-05-27 02:31] herdidi47 commented on #45
so i just try you test build, and the problem still persist for me :/ already trying to turn the "Disable Stories Timer" off and still persist

[2018-05-27 03:01] iHelp101 commented on #45
Alright, lets make sure it is an XInsta issue. Open Xposed -> Three Line Icon -> Modules -> Uncheck XInsta and reboot. Verify if the issue is no longer present.

[2018-05-27 03:03] herdidi47 commented on #45
i already tried it since you official 2.0.5 and yes, it's xinsta issue. if i turn it off in xposed, stories working perfectly

[2018-05-27 03:13] iHelp101 commented on #45
Okay, can you get a logcat of this issue? That should help pinpoint what is causing this. On newer versions of Android you can get a bug report instead (In developer settings click Take Bug Report after replicating the issue).

[2018-05-27 04:34] LuneWalsh commented on #46
20180526_230800 - XInsta Initialized
20180526_230800 - Instagram Version Code: 107104990
20180526_230800 - Device Codename: ASUS_Z012DC
20180526_230800 - Android Version: 8.0.0
20180526_230800 - XInsta Version 2.0.5
20180526_230800 - Story Privacy Hook Failed - java.lang.NoSuchMethodError: com.instagram.reels.fragment.do#O()#exact
20180526_230800 - Story Privacy Hook Class - com.instagram.reels.fr

[2018-05-27 06:44] brato-mo commented on #46
Same here man. Whe i open story instagram stop working
20180527_084136 - XInsta Initialized
20180527_084136 - Instagram Version Code: 110372653
20180527_084136 - Device Codename: HTC One M9
20180527_084136 - Android Version: 7.0
20180527_084136 - XInsta Version 2.0.5
20180527_084137 - Stories Gallery Hook Failed - java.lang.NoSuchMethodError: com.instagram.common.gallery.m(android.content.ContentR

[2018-05-27 14:18] iHelp101 commented on #46
@LuneWalsh I didn't notice last night, but your Xposed appears to have bugged out when updating. It is still loading 2.0.4. even though you updated. Uninstall XInsta, reboot, install XInsta, and reboot once more. If you still face the issue please open another issue due to the original issue being resolved.

[2018-05-27 14:53] herdidi47 commented on #45
issue still persist :(( should i try downgrade instagram?

[2018-05-27 14:56] iHelp101 commented on #45
You can give it a try. If we can nail it down to a specific Instagram version that helps. But since you didn't have this issue with 2.0.4 it might be a conflict between hooks.

[2018-05-27 15:43] herdidi47 commented on #45
after trying a few stuff, i found out if i turn off storage permission, the issue is gone, while turning it back on it appear again

[2018-05-27 15:47] iHelp101 commented on #45
Okay, so it is one of the settings. Can you disable some stories related settings back and forth to figure out which is the issue? So Stories Privacy, Hide Stories, and Stories Timer are the main ones.

[2018-05-27 16:19] herdidi47 commented on #45
i mean the instagram storage permission. and i already tried what you said. looks like if 3 of them is turned off, stories can close correctly

[2018-05-27 16:26] herdidi47 commented on #45
weird.. i just turn back to official xposed 2.0.5 release, and suddenly the problem only persist if the stories timer is on. (tried while turning on and off stories privacy) i never turn on hide stories

[2018-05-27 16:35] iHelp101 commented on #45
Alright, I reversed some changes. Let try this. The two I am thinking are the likely issue are Stories Timer and Stories Privacy. In 2.0.5 these had a conflict with one setting, which is resolved in these test APKs. The conflict resolution may make it more clear to which is the exact issue.

https://drive.google.com/open?id=1w4QtRLkPVxkJoFpf19GbqkpYpWGK1iT9

[2018-05-27 16:42] herdidi47 commented on #45
now the problem occur if stories provacy is on. stories timer working perfectly while on (but no loop)

[2018-05-27 17:02] iHelp101 commented on #45
Alright,  we have our answer. The Instagram version you are on is half integrated with HeroPlayer, so looping is not supported. Let me look deeper into Stories Privacy and what might be triggering this issue.

[2018-05-27 17:05] herdidi47 commented on #45
updating back to latest stable instagram in playstore. all looks promising. goodluck and thanks a lot for your help and respond. best developer so far :D 👍👍 let me know if you need me testing stuff

[2018-05-28 14:48] iHelp101 commented on #45
This issue turned out to be a hook issue with stories privacy. One of the hooks (Prevent logging of viewing) was conflicting and for some devices and story types was causing this issue. I have updated the hooks for some of the recent versions and will be backlogging for the remaining affected versions (Looks like last 15 or so Instagram versions).

[2018-05-28 15:29] herdidi47 commented on #45
so you only need fix the hook?

[2018-05-30 19:38] woeijiunn88 commented on #34
FC occured again now when scrolling down the instagram posts, you may test it. @iHelp101

[2018-05-30 19:54] iHelp101 commented on #34
Which Instagram version are you using? I know one of the alpha versions has a bug where if you had a multi-post on screen is crashed Instagram.

[2018-05-31 08:51] woeijiunn88 commented on #34
v47.0.0.16.96

[2018-05-31 08:52] woeijiunn88 commented on #34
ya when on multi-post it crashed =/

[2018-05-31 12:40] iHelp101 commented on #34
Disable XInsta (Open Xposed -> Three Line Icon -> Modules -> Uncheck XInsta) and reboot. Please verify if the issue occurs with XInsta disabled. In my testing this is a Instagram issue and not an XInsta issue.

[2018-05-31 14:58] woeijiunn88 commented on #34
Ya, i tested just now LOL.
Same as Instagram self issue.
😶😶😶

[2018-05-31 15:00] iHelp101 commented on #34
I reported the bug to Instagram a few days ago when I noticed it in an alpha version. It is strange the bug made it to what looks like a stable release.

[2018-05-31 15:04] woeijiunn88 commented on #34
Hmm we just wait for future alpha release then =/

[2018-05-31 22:13] jizzy002 opened #47 "Profile picture download"
While trying to download profile picture the Xinsta error popup comes up.
Running XInsta 2.0.5 (not test version)
and Instagram 47.0.0.16.96

[2018-06-01 07:00] LuneWalsh opened #48 "Download Button"
20180601_033401 - XInsta Initialized
20180601_033401 - Instagram Version Code: 111152037
20180601_033401 - Device Codename: ASUS_Z012DC
20180601_033401 - Android Version: 8.0.0
20180601_033401 - XInsta Version 2.0.5
20180601_033403 - Hooks Fetched!
20180601_033404 - Experimental Hooks Set
20180601_033404 -  Experimental Hook Failed - com.instagram.feed.comments
20180601_033406 - ------------------

[2018-06-02 01:15] RiadReyBouazza commented on #47
Same issue here , sent an email with an attached log right after it crashed on me , same versions as this , I hope it gets fixed

[2018-06-02 16:19] iHelp101 commented on #47
Give this APK a try for me please.

https://drive.google.com/file/d/1w4QtRLkPVxkJoFpf19GbqkpYpWGK1iT9/view?usp=drivesdk

[2018-06-03 18:07] RiadReyBouazza commented on #47
Dude I am really sorry I received your email late because I didn't have
Gmail I just recovered from a soft brick
But you are truly amazing , the test version you sent me works great
Downloaded the profile picture straight on , I will do more testing for you
and let you know , you rock bro keep it up
Thank you very much

On Sat, Jun 2, 2018, 5:19 PM William <notifications@github.com> wrote:

[2018-06-03 18:32] iHelp101 commented on #47
A zoom feature for profile icons? If you long press/hold a profile icon (In profile menu that shows number of followers, following, etc.) it will open a large view of the users profile icon. You can pinch to zoom like a gallery in this view.

[2018-06-03 18:36] RiadReyBouazza commented on #47
More like a zoom feature for pictures and videos on the feed and stories ,
there's already an app that offers that and an Xposed module too but the
development of it is slow and it is still buggy n I would like to have all
my mods in one spot just like how xinsta is Rich of mods
But that was just an example , would like to see other features like some
theming ? Maybe hiding the seen ? The online s

[2018-06-03 19:51] jizzy002 commented on #47
Works with your version.
I was 2 days off didn't had any acess to a proper internet conmection

[2018-06-04 11:03] achozex commented on #47
having the same issue

log: https://drive.google.com/open?id=1-edwvEUxkk6JfF45cTf-Wxu1WPU7insS

I tried the apk that you attached here and it works now

[2018-06-05 04:59] woeijiunn88 commented on #34
After cleared my Instagram's data, i didn't faced any fc again lol.

[2018-06-06 14:27] sjhackic opened #49 "App crashes."
Instagram App keeps on crashing as i install this module. Tested this on Mi phones and Samsung Galaxy S8+ as well

[2018-06-08 13:45] Mashirosiki commented on #48
谢谢分享

[2018-06-12 04:15] #45 closed

[2018-06-12 14:37] #48 closed

[2018-06-12 14:37] #47 closed

[2018-06-12 14:37] #34 closed

[2018-06-12 14:38] iHelp101 commented on #49
Is this issue still occurring? Instagram had a bug with a few of their APK's related to crashing.

[2018-06-12 16:08] woeijiunn88 commented on #49
try update ur insta to latest ver 49.0.0.15.89, latest insta should not have problem

[2018-06-16 20:05] RiadReyBouazza opened #50 "Instagram app crashing when trying to download a temporary picture in direct messages"
using the latest version of xinsta v2.0.6 and latest instagram v49
when i receive a temporary picture in dm's and try to download it , instagram crashes
and seems to keep crashing till the timer of the picture is worn out ?
i don't wait for it i just reboot the phone
anyone experiencing this ?

[2018-06-16 20:09] RiadReyBouazza commented on #49
i also noticed that with those latest versions of instagram , the zoom for instagram module is force closing the app too , so if you have that enabled , turn it off and try

[2018-06-21 05:32] LuneWalsh opened #51 "Download button missing."
Please check out my XInsta Error Log.

20180621_022912 - XInsta Initialized
20180621_022912 - Instagram Version Code: 113948109
20180621_022912 - Device Codename: ASUS_Z012DC
20180621_022912 - Android Version: 8.0.0
20180621_022912 - XInsta Version 2.0.6
20180621_022912 - Hooks Fetched!
20180621_022912 - Experimental Hooks Set
20180621_022912 -  Experimental Hook Failed - com.instagram.feed.commen

[2018-06-21 15:20] dxshxnt opened #52 "Instagram keeps crashing everytime I try to download from Instagram direct."
So I updated my Instagram to the latest version (50.1.0.43.119) and Xinsta (2.0.6). It was working fine before updating, I could download all the posts sent to me on Instagram direct. But now everytime I try to download a picture sent to me on direct, Instagram crashes right after I tap download. I tried updating hooks, downgrading my Instagram as well as Xinsta. So far no good. I uninstalled it,

[2018-06-22 13:04] dxshxnt commented on #50
Same dude, is your one working now?

[2018-06-22 16:31] brato-mo opened #53 "Story download crash"
Log

20180622_181046 - ---------------------------
20180622_181046 - XInsta Initialized
20180622_181046 - Instagram Version Code: 114751091
20180622_181046 - Device Codename: HTC One M9
20180622_181046 - Android Version: 8.1.0
20180622_181046 - XInsta Version 2.0.6
20180622_181046 - Hooks Fetched!
20180622_181049 - Screenshot Privacy Failed - de.robv.android.xposed.XposedHelpers$ClassNotFoundError

[2018-06-22 19:18] jizzy002 opened #54 "Stories timer"
Story timer is broken after newest 50.0.X update, and long press onto profile picture, didn't notice any bigger issues more than that. If any logs are needed i will provide them.

[2018-06-22 19:48] iHelp101 commented on #54
Thank you for the information. I will be off work in a few hours and work on updating the hooks.

[2018-06-23 05:03] dxshxnt commented on #52
I did try it out. Although the app doesn't crash anymore when I hit on the download option in the direct messages but it shows, Xinsta error. In the logs, by what I understood it shows, hooks invalid although all my hooks are up to date.

[2018-06-23 05:04] dxshxnt commented on #54
Thank you.

[2018-06-23 05:05] dxshxnt commented on #52
I can provide the logs if they are required.

[2018-06-23 05:08] iHelp101 commented on #52
Yes, can you attach your error log? If it is version 52 of the new Instagram alpha it is using new obfuscation, which is proving tricky to counter. In these versions Instagram throws 15,000+ files in a single folder. They are only doing this on alpha builds for some reason.

[2018-06-23 08:04] jizzy002 commented on #54
Works like a charm, keep up the good work

[2018-06-23 08:04] #54 closed

[2018-06-23 11:05] dxshxnt commented on #52
https://www.dropbox.com/s/bwnwwl64purn6gg/error?dl=0

[2018-06-23 11:08] dxshxnt commented on #52
Here is the Xinsta error log. https://www.dropbox.com/s/bwnwwl64purn6gg/error.txt?dl=0

[2018-06-23 11:11] dxshxnt commented on #52
And no, it's not version 52. I am using the one I mentioned on the post. That's the lastest update available on Google play.

[2018-06-24 00:13] #53 closed

[2018-06-24 00:14] iHelp101 commented on #51
Are you still facing this issue? If so, please disable Experimental Hooks.

[2018-06-24 02:53] dxshxnt commented on #52
Hopefully you can fix it soon.

[2018-06-26 02:40] dxshxnt commented on #52
Any fixes?

[2018-06-29 09:33] yanfedorov commented on #51
@iHelp101 same problem

# 20180628_185547 - XInsta Initialized 20180628_185547 - Instagram Version Code: 115211364 20180628_185547 - Device Codename: Redmi Note 4 20180628_185547 - Android Version: 6.0 20180628_185547 - XInsta Version 2.0.6 20180628_185548 - Hooks Fetched! 20180628_185549 - Share Class Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0 20180628_185549 - Share Cla

[2018-07-01 19:33] jizzy002 opened #55 "Downloading"
Pin/save doesn't work that i use as an alternative neither the download button.

[2018-07-02 05:08] Hunchengli opened #56 "Freezing and Crashing all the time"
I'm using Samsung Note 5 with Instagram 49.0.0.18.95 and xInsta 2.0.6

Instagram has been freezing on story, lagging severely and crashing all the time when xInsta module is on.

What's activate on my xInsta:
Push Notification Download
Copy Comment on Tap
Video Likes Count
Story Privacy (I need this, so turning it off wouldn't be my choice)

I have read up on other issues on your Github and if Sto

[2018-07-02 06:45] #55 closed

[2018-07-03 00:19] jizzy002 opened #57 "Every feature broken"
Instagram updated automatically to the newest version like 2hrs ago (50.0.0.8.83)
During that period i was absent from my phone, and when i opened IG again nothing was working.

I think this is all you need: (LOG)

07-03 02:14:01.893 I/Xposed  ( 7940): XInsta - XInsta Initialized
07-03 02:14:01.912 I/Xposed  ( 7940): XInsta - Instagram Version Code: 115994877
07-03 02:14:01.916 I/Xposed  ( 7940):

[2018-07-03 12:42] dxshxnt commented on #52
Any response?

[2018-07-03 16:29] BurhanDanger commented on #51
I had similar problems with xinsta 2.0.6. Downgraded to original 2.0.5(provided by xposed download)

[2018-07-04 19:28] iHelp101 commented on #52
I am not having much luck with this and with the new changes with obfuscation I am working on getting direct downloads working again. It is going to take time. It is not clear where Instagram is storing this content at the moment.

[2018-07-04 19:30] iHelp101 commented on #57
I have a solution for this. Do you have time to try a test APK?

[2018-07-04 19:30] iHelp101 commented on #51
@BurhanDanger Did you as well have Experimental Hooks enabled?

[2018-07-05 05:08] Hunchengli commented on #56
It's disabled. Never used it.

[2018-07-05 10:32] jizzy002 commented on #57
I could try it

[2018-07-05 17:17] iHelp101 commented on #57
Here is the APK. It is signed like a normal XInsta update. The version supports are the latest three (52 Stable, 53 Beta, 54 Alpha). You will need to manually update your hooks from Pastebin (Open XInsta -> Click Pastebin).

https://drive.google.com/file/d/1k6abU6mdtjl_XbXQC2OwMQ-OwPgiHj11/view?usp=drivesdk

[2018-07-05 17:45] BurhanDanger commented on #51
I'm not sure, what I did was go to xinsta and clicked `update to xinsta 2.0.6` , then after update pressed GitHub just below Update Hooks. Didn't change any other settings.

[2018-07-05 22:11] jizzy002 commented on #57
Gave it a try, got to playstore did the update installed your APK fetched the hooks from pastebin but no sucess, still didn't wanted to work, again same errors in log.

[2018-07-05 22:12] RiadReyBouazza commented on #57
Truue I tested as well

[2018-07-05 22:46] iHelp101 commented on #57
The output Hooks Fetched! means it did not have hooks. Please make sure Instagram has storage permissions, update from Pastebin once more, and reboot.

[2018-07-05 22:48] RiadReyBouazza commented on #57
@iHelp101 okey gonna do it now

[2018-07-06 07:45] jizzy002 commented on #57
Ok, now it's working again after i gave IG an update,updated the hooks and rebooted,storage permission is always granted.
Thank for the fast response keep up the good work.

[2018-07-06 13:10] erkin98 opened #58 "Don't work last version of instagram"

[2018-07-06 21:10] jizzy002 commented on #57
Profile picture download only not working i think, so far only issue with the new hooks

[2018-07-06 21:11] RiadReyBouazza commented on #57
And that's the only thing I tried too , I'm sorry I'm just unlucky

On Fri, Jul 6, 2018, 10:10 PM Aldin Jandric <notifications@github.com>
wrote:

[2018-07-06 22:09] exhelios commented on #58
Same here

[2018-07-07 13:02] iHelp101 commented on #57
This APK should fix the remaining issues. I am aware that two hooks are not working (Pin download and disable like double tapping). They are both onSingleTap's, which Instagram has hundreds if not thousands of, so finding the new class is difficult. When you install a XInsta update the hooks are fetched again, so after you reboot fetch the hooks from Pastebin manually, and reboot once more.

https

[2018-07-09 09:50] acsway878787 commented on #57
How about the "Hide Paid Partnership Post" feature? Can it work? The ads are disturbing. I can post the logcat if needed.

[2018-07-09 15:48] LuneWalsh opened #60 "Problems with version of Instagram 53.0.0.12.84"
20180709_124432 - XInsta Initialized
20180709_124432 - Instagram Version Code: 116441973
20180709_124432 - Device Codename: ASUS_Z012DC
20180709_124432 - Android Version: 8.0.0
20180709_124432 - XInsta Version 2.0.6
20180709_124432 - Hooks Fetched!
20180709_124433 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20180709_124433 - Comment Class: X.4Nt
20180709_124433 -

[2018-07-10 22:23] grota commented on #58
had to restart instagram a couple of times before it started working

[2018-07-13 17:48] achozex commented on #57
used the last apk in this post , updated with latest hooks from pastebin got this , storage permissions are granted:

20180713_181331 - XInsta Initialized
20180713_181331 - Instagram Version Code: 116756948
20180713_181331 - Device Codename: ONEPLUS A3003
20180713_181331 - Android Version: 8.0.0
20180713_181331 - XInsta Version 2.0.6
20180713_181509 - ---------------------------
20180713_181509 -

[2018-07-13 23:45] iHelp101 commented on #60
The hooks have been updated to support this version.

[2018-07-13 23:45] #60 closed

[2018-07-15 06:29] jizzy002 opened #61 "Download Failed"
Everything fails to download

[2018-07-15 15:07] iHelp101 commented on #61
Instagram is now targetting Android API 25. API 24 added a rule regarding intents passing file URI's to other applications. This is actually due the notification complete notification when clicked opening the gallery (Have to pass file URI). Give this APK a try for me.

https://drive.google.com/open?id=1bQo0PMMqcjR8ScrqQgYgGrQBa0vL4Nhn

[2018-07-15 15:32] yanfedorov commented on #61
@iHelp101 I had problemes too ("Download" button missed) , but i reinstalled latest version of the Xinsta, rebooted my phone, cleared Instagram's cache and now all works fine (nearly).
[code]

[2018-07-15 16:06] Pr0G4m3r commented on #61
@iHelp101 The download/notification works again just fine thx👌

[2018-07-15 16:07] jizzy002 commented on #61
Works fine.

[2018-07-17 11:10] higgs0x00 commented on #61
Just coming in to say that the apk a few posts above also works for me.  Thank you for all your work on this.

[2018-07-17 21:49] jizzy002 commented on #61
Couple of hooks working and some not again, not a problem but instagram is going a little bit too fast with these updates

[2018-07-17 21:54] jizzy002 commented on #61
Hooks failing again after new update

[2018-07-19 13:47] steven7851 commented on #61
IGTV download fail
Instagram 54.0.0.14.82 (117539) + XInsta 2.0.8

[2018-07-20 20:47] jizzy002 commented on #61
I will close the issue because it's has been fixed

[2018-07-20 20:47] #61 closed

[2018-07-25 17:22] jizzy002 commented on #58
Hooks not working on Instagram 55.0.0.12.79 but working on version 54.0.0.14.82

[2018-07-25 17:23] jizzy002 commented on #58
@jizzy002 Temporary solution is to downgrade your app and disable auto updates till new hook update i think

[2018-07-25 18:05] iHelp101 commented on #58
I will update the hooks in a few hours. It is going to be manual hook updating, which can take an hour or so. I am at work at the moment, so I can't dedicate an hour yet to getting the new hooks.

[2018-07-31 16:07] sjhackic opened #62 "Latest Instagram app unable to load XInsta"
Please provide with an update

[2018-08-01 16:51] ridicksm opened #63 "Can't update hooks from here."
When I click GitHub in Xinsta, nothing happens, and for some reason I can't paste the hooks manually.

Tried with version v55, v54, v53 and v51

Here's the log:

20180801_132654 - XInsta Initialized
20180801_132654 - Instagram Version Code: 116756953
20180801_132654 - Device Codename: ASUS_Z00AD
20180801_132654 - Android Version: 5.0
20180801_132654 - XInsta Version 2.0.8
20180801_132655 - Experim

[2018-08-01 19:59] Ristovski opened #64 "Updating hooks from Github broken"
Ever since 2d3b822463923e537b42f5428c6a4f9608bd65b6 updating hooks from Github throws a string error.
This is caused by a stray newline at the beginning of the Hooks.txt file.

[2018-08-03 07:30] lvdongyi opened #66 "Doesn't work in China"
Whenever I tried to download the head portrait,the Instagram will crash.And whenever I tried to download the images and videos,there  will be a toast said failed to download. I'm in China.I have used VPN to connect Instagram.

[2018-08-03 07:32] lvdongyi commented on #66
I have degrade the Instagram and it still doesn't work.............

[2018-08-03 07:40] lvdongyi commented on #66
I have solved the problem. That's because GFW blocked the VPN again.

[2018-08-03 07:43] #66 closed

[2018-08-07 06:49] jizzy002 opened #67 "New update breaks hooks again"
Title says all

08-07 08:46:36.954 I/Xposed  (13702): XInsta - Instagram Version Code: 119875229
08-07 08:46:36.970 I/Xposed  (13702): XInsta - Device Codename: SM-G900F
08-07 08:46:36.981 I/Xposed  (13702): XInsta - Android Version: 8.1.0
08-07 08:46:36.997 I/Xposed  (13702): XInsta - XInsta Version 2.0.8
08-07 08:46:37.637 I/Xposed  (13702): XInsta - Hooks Fetched!
08-07 08:46:39.624 I/Xposed  (

[2018-08-08 06:34] makeins29 opened #68 "Alguna Comunidad"
Alguna Comunidad para estar informado?

[2018-08-11 13:42] acsway878787 opened #69 "Some Hooks Break and Sponsorship Posts Are Not Blocked"
### Xposed Error Log
[code]
### Sponsorship Posts Are Not Blocked
Even though I switched the "Hide Partnership Posts" option on, they still appear in both stories and normal posts (like the picture below).
![In stories](https://i.imgur.com/44JUqe8.png)

[2018-08-11 15:28] iHelp101 commented on #69
I am looking into this further. Sponsorship post in stories can not be blocked. They have the sponsor tag, but use a special view. However, normal feed post should be blocked/hidden.

[2018-08-11 16:30] acsway878787 commented on #69
@iHelp101 Thanks in advance. If you need to test anything, I'll be very glad to help.
By the way, is the github hook update function break again? I couldn't update the hook you updated 2 days ago by XInsta itself, but manual copy those hooks and paste worked fine.

[2018-08-12 05:53] acsway878787 commented on #69
The picture of sponsorship posts in normal feed posts are blocked, but their discriptions and comments are still exist, which look like this:
![Pic](https://i.imgur.com/Zrqtm9S.jpg)

[2018-08-12 08:54] acsway878787 commented on #69
There are another type: The ads of apps which have "Download" option with color under the picture.
![Pic](https://i.imgur.com/VNSTAuy.jpg)

[2018-08-12 16:42] #67 closed

[2018-08-12 16:43] #63 closed

[2018-08-12 16:43] #62 closed

[2018-08-12 16:43] #58 closed

[2018-08-12 16:46] iHelp101 commented on #69
XInsta has to have the first ad scrolled past (Due to how views are loaded by Instagram). If you scroll past the ad and then back up is the ad still present?

[2018-08-13 12:08] acsway878787 commented on #69
Yes, they still come out, but at a low frequency. And at the most time those post won't show up pictures, like the picture above.

[2018-08-14 21:02] makeins29 commented on #68
Hi, twitter?

[2018-08-14 21:04] makeins29 commented on #68
Do they have a Twitter account or somewhere to stay informed? to know which version is compatible with Xinsta

[2018-08-21 20:49] RiadReyBouazza opened #70 "i would like to make a small recommendation"
i don't know where to write such things so if i'm wrong i'm sorry
i would like to ask for the dev to please remove the heart button in dm windows ? it's one of those things i always hit by accident and it'd be great to have an option to remove it if possible

[2018-08-22 09:35] acsway878787 opened #71 "Some Functions Break Again."
### Description
Story Timer and Story Privacy break.
Disable Discovery Section and Show Video Likes both seems don't work for a long time.

### Log
[code]

[2018-08-22 23:33] iHelp101 commented on #71
I have a fix for story timer, story privacy, and video likes. Discovery Section is proving hard to find the new layout they are using.

[2018-08-26 14:27] acsway878787 commented on #71
@iHelp101 Is it a hook update or an app update? Maybe I can help you test it.

[2018-08-29 17:23] abhinavprateek opened #72 "Version 60.x and above breaks compatibility"
Hey,

Unable to use Xinsta with any of the version from 60.x
Will send the xposed and dmesg log if you want

One question through, have you stopped support for Xinsta coz not seeing any more commits.

[2018-08-29 18:36] jizzy002 opened #73 "Hooks broken, app crashing"
Lastest Instagram stable is having issues with the lastest hooks, practically nothing is work and IG is crashing constantly.

[2018-08-30 02:54] banxter opened #74 "Not working after new update"
Hi there..

After update my instagram, download button disappeared.. and all other xinsta tricks dont workin... and instagram crashes frequently..

Please update your amazing application..
Its all ineed for instagram..
Thanks..

[2018-08-30 17:32] papuruth commented on #51
Same issue here
Instagram latest
Logs. 44:22.664 I/Xposed  (15936): XInsta - XInsta Initialized
08-30 22:44:22.686 I/Xposed  (15936): XInsta - Instagram Version Code: 122338251
08-30 22:44:22.693 I/Xposed  (15936): XInsta - Device Codename: Yureka Black
08-30 22:44:22.702 I/Xposed  (15936): XInsta - Android Version: 9.0
08-30 22:44:22.711 I/Xposed  (15936): XInsta - XInsta Version 2.0.8
08-30 22:4

[2018-08-31 13:53] georgeravenholm commented on #74
with me the new update left the download button and disable double tap like

however, disable stories timer broke

[2018-08-31 14:11] georgeravenholm commented on #72
there was literally a commit from 8 days ago when u posted this lole

[2018-08-31 15:17] jizzy002 commented on #73
General issue fixed, small fixes still needed. Closing issue

[2018-08-31 15:17] #73 closed

[2018-09-09 17:55] papuruth commented on #72
Same here download button disappeared on version 61

[2018-09-09 19:40] iHelp101 commented on #56
Resolved in future update.

[2018-09-09 19:40] #56 closed

[2018-09-09 19:41] #68 closed

[2018-09-09 19:41] #49 closed

[2018-09-09 19:41] #50 closed

[2018-09-09 19:41] #51 closed

[2018-09-09 19:41] #52 closed

[2018-09-09 19:41] iHelp101 commented on #69
Fixed in future update.

[2018-09-09 19:41] #69 closed

[2018-09-09 20:04] LuneWalsh opened #75 "The app won't work on newer versions of Instagram here's the error"
20180909_163604 - XInsta Initialized
20180909_163605 - Instagram Version Code: 123103748
20180909_163605 - Device Codename: ASUS_Z012DC
20180909_163605 - Android Version: 8.0.0
20180909_163605 - XInsta Version 2.0.8
20180909_163605 - Hooks Fetched!
20180909_163606 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20180909_163606 - Comment Class: X.3u3
20180909_163606 -

[2018-09-09 20:48] iHelp101 commented on #75
The hooks have been updated. Here is a test APK as well for some other issues.

https://drive.google.com/open?id=1m_AwxL0PGfmHFKz0pg5udRape6R9IX4h

[2018-09-09 22:06] LuneWalsh commented on #75
What I do now?

[2018-09-10 11:50] gokulraj3 commented on #75
Please do something...

[2018-09-10 15:30] madox398 opened #76 "Poor quality of downloaded photos and videos"
Hi, I have a problem with the quality of downloaded photos and videos - they have almost a half reduced resolution - 640x800 (originally 1080x1350). I tested Force High Resolution and this doesn't help.
I tested:
-XInsta 2.0.7 and XInsta 2.0.8
-Instagram 58.0.0.12.73 and 43.0.0.10.97.
Android KitKat
Any advice?

[2018-09-10 15:54] pro4tlzz commented on #71
Hello is the story privacy fixed yet

[2018-09-10 19:29] iHelp101 commented on #76
What device are you using?

[2018-09-11 18:20] jizzy002 opened #77 "Hooks not working, app crashing on any story interaction"
Newest update makes Xinsta again unusable,error log is in the pastebin link.
App crashing while trying to leave a opened story or trying to go a story forward.
Instagram is getting ridiculous in the last months,what causes these hook mismatches everytime and how to make your own hooks,fixes,etc I would like to try to understand your work.

[Error Log](https://pastebin.com/s5cTxAdB)

[2018-09-14 18:50] m4rtinp opened #78 "Instagram crashing when going to previous IG Story"
Instagram keeps crashing every time I go back to a previous IG Story by tapping on the left corner of the display.

[2018-09-17 21:58] madox398 commented on #76
Sony Xperia E4g

[2018-09-19 23:24] #77 closed, assigned to nobody

[2018-09-19 23:26] iHelp101 commented on #78
Fixed in latest hooks.

[2018-09-19 23:26] #78 closed

[2018-09-24 11:18] moops44 opened #79 "Watch Viewers of Story dont work"
Like the title say, i cant watch the Viewers from my Storys anymore
IG Ver. 63.0.0.17.94, I'm also on the latest Hook

[2018-09-25 09:37] hsinankirdar commented on #79
There can be some problem. XInsta firstly allows you to download media. After that, if some one updates all hooks, you can use all features.

[2018-09-25 16:38] moops44 commented on #79
Kardesim I know the functions of XInsta i use it for long time

I overplayed my backup from IG Ver. 62.0.0.19.93
Watching Story Viewers worked for some time ( all other functions Work ) ,
then the Watch Viewer function stopped again,
Im here to report an issue, that the devs can take a look bout my problem

[2018-09-25 16:49] iHelp101 commented on #79
Can you provide a screen recording or screenshot of this issue? I am not sure what you mean by watch viewers function. Thanks you.

[2018-09-27 04:06] silver2004 commented on #76
+1 on that, i have only 750x750px images downloaded, enabling/disabling "force high resolution" makes no change, i checked the same picture on the computer and it has higher resolution, so it gets limited.. My device is Xiaomi Redmi 3

[2018-10-01 18:17] herdidi47 opened #80 "IG version code 125398471"
Hi. In version said above, stories timer broken (not pausing in the end or looping) and turning on stories privacy option makes me can't see who's already seen my stories. FYI i'm using Github hook, attached is xposed log [google drive](https://drive.google.com/file/d/1YWEHdRjtv83PiC5zX4Ywv4BqMsrJar_N/view?usp=drivesdk). Thank you.

[2018-10-01 18:19] herdidi47 commented on #80
turns out my can't see who's already seen my stories is already reported in #79 I found out the problem is occured when stories privacy is turned on

[2018-10-06 09:15] jizzy002 opened #81 "Any video download not working"
Title says it all

[2018-10-06 11:14] iHelp101 commented on #81
Open XInsta -> Click GitHub and reboot.

[2018-10-06 11:51] jizzy002 commented on #81
Works, thanks.

[2018-10-06 11:51] #81 closed

[2018-10-28 13:10] smailzhu opened #82 "IG version code: 128676156"
Disable Stories timer seems not working
Here's my log
10-28 21:04:15.100 I/Xposed  (13232): XInsta - XInsta Initialized
10-28 21:04:15.115 I/Xposed  (13232): XInsta - Instagram Version Code: 128676156
10-28 21:04:15.122 I/Xposed  (13232): XInsta - Device Codename: ASUS_Z017DA
10-28 21:04:15.127 I/Xposed  (13232): XInsta - Android Version: 7.0
10-28 21:04:15.133 I/Xposed  (13232): XInsta - XInsta V

[2018-11-12 03:50] LuneWalsh opened #83 "Notification not showing"
App is working fine, but the notifications aren't being showing, I checked every option and don't find anything wrong my log for analysis.

11-12 00:39:44.296 I/Xposed  (  928): -----------------
11-12 00:39:44.296 I/Xposed  (  928): Starting Xposed version 90-beta3, compiled for SDK 26
11-12 00:39:44.297 I/Xposed  (  928): Device: ASUS_Z012DC (asus), Android version 8.0.0 (SDK 26)
11-12 00:39:44.

[2018-11-16 00:13] iHelp101 commented on #83
What do you mean my notifications no showing? Notifications from Instagram are not showing? Or notifications are not downloading?

[2018-11-16 00:31] iHelp101 commented on #83
Hmm, I looking further into it. Can you provide your Notification log? It should be under /storage/0/.Instagram/Notification.txt

[2018-11-16 02:03] LuneWalsh commented on #83
I have to delete the archive, 65mb won't open on my phone, I updated the Instagram now and can't download the pics, version of Instagram 72.0. 0.12. 98, the log of Xposed below :

11-15 23:54:12.393 I/Xposed  (  936): -----------------
11-15 23:54:12.393 I/Xposed  (  936): Starting Xposed version 90-beta3, compiled for SDK 26
11-15 23:54:12.393 I/Xposed  (  936): Device: ASUS_Z012DC (asus), Androi

[2018-11-16 03:20] LuneWalsh commented on #83
01:17:29 AM - Push: {"a":"https:\/\/scontent.cdninstagram.com\/vp\/9cb2e8b70608218da8bf0b1deeefd769\/5C71B7CC\/t51.2885-19\/s150x150\/42431688_330076604459684_8155140943658352640_n.jpg","bc":"{\"dt\":0}","c":"post","sound":"default","i":"https:\/\/scontent.cdninstagram.com\/vp\/0c5a78920c41e0775833d800552fdd8f\/5BF07155\/t51.2885-15\/e35\/44724353_357554174791160_1420063990767157248_n.jpg","Suppre

[2018-11-16 03:58] LuneWalsh commented on #83
It's not related to 8.0 Android Oreo, I'm using it since the update release, the problem is Instagram changes, every time Instagram updates the XInsta stop working properly, I'm using now the XInsta 2.1.0 version with Instagram 60.0.0.16.79, and works fine even with stand by mode or asleep mode, but if I updated Instagram for the latest version on PlayStore it stop working properly, 1º the downloa

[2018-11-16 23:52] iHelp101 commented on #83
The hooks have been updated to support the latest beta APK of 72.0.0.12.98 (131626).

[2018-11-17 00:56] LuneWalsh commented on #83
Same problem here the notifications won't show for me but the download function is working fine, see the notification log below

01:17:29 AM - Push: {"a":"https:\/\/scontent.cdninstagram.com\/vp\/9cb2e8b70608218da8bf0b1deeefd769\/5C71B7CC\/t51.2885-19\/s150x150\/42431688_330076604459684_8155140943658352640_n.jpg","bc":"{\"dt\":0}","c":"post","sound":"default","i":"https:\/\/scontent.cdninstagram.c

[2018-11-17 01:18] iHelp101 commented on #83
Now that I think of this more, I bet this is related to Instagram targeting a higher Android API. I know when they originally switched it caused issues with certain notifications. Let me finish updating my Moto G to Android 8.0 for testing.

[2018-11-17 01:32] LuneWalsh commented on #83
I downgraded Instagram to version 60.0.0.16.79, until you can find a way to make the adjustments, Oreo is good but consumes so much memory and battery, I think you won't have much problems with your smartphone xD, I'll wait for you

[2018-12-02 16:39] xbzd opened #84 "Direct"
Hi
I have a weird issue with directs, sometimes I can't open messages at all, the only work around is downgrading insta. for a few days it works normally but then the issue appears again.
Have this problem with almost all insta versions (v49 to v72 132081645)
My brother's insta (132081645) with latest xinsta everything works flawlessly.
Just wanted to share this issue with you.
Thank you for your

[2018-12-02 18:08] iHelp101 commented on #84
Sorry to hear about this issue. Direct exist in two form. The first is regular direct messages that can be view anytime. Direct disappearing messages can only be view a few times and then eventually disappear. Which is the issue with? Also, are both you and you brother using the same model device? I wonder if it is a specific device/ROM that encounters this issue. Thank you.

[2018-12-06 21:10] tarek133 opened #85 "Stories privacy"
Edit: I figured out the issue about the story privacy wasn't working, is rather that the settings inside the Xinsta App always get deleted after a certain time somehow.

[2018-12-11 09:25] HeyItsJono opened #87 "TaiChi Support"
I was wondering if you would consider adding support for [TaiChi](https://github.com/tiann/EXposed/releases/tag/3.4.1) or [VirtualXposed](https://github.com/android-hacker/VirtualXposed/releases/tag/0.16.1). This would allow compatability with Android 9 (Pie), which would be amazing for those of us with phones that ship with Pie! Thanks!

[2018-12-12 18:51] 0rimura commented on #87
Hi I'm new to github and I'm using xinsta.
I did install the latest Instagram app by the latest xinsta apk doesn't work it doesn't show the download mode in the 3 dot icon

[2018-12-13 19:06] apin10 opened #88 "Xinsta without root"
is there any possible way to use xinsta in non-root phone ?
in this case i use xiaomi mi 8

[2018-12-16 00:15] iHelp101 commented on #87
I am working on getting this. I have VirtualXposed working with a test version, but I had to isolate two hooks that are causing a crash. It may be a limitation of VirtualXposed that I have to disable these two hooks. They are resource related, so it may be the issue.

[2018-12-17 01:47] HeyItsJono commented on #87
Thank you for looking into it!!

[2018-12-20 07:03] steven7851 commented on #88
try GBInsta instead

[2019-01-29 14:28] erkin98 opened #89 "Issue"
Doesn't working on android 9

[2019-02-01 05:44] cwkfr commented on #89
It does work on android 9, perhaps you need to downgrade your instagram to version 75.0.0.23.99 (I'm not sure if this is the last working version).

[2019-02-01 17:00] #88 closed

[2019-02-03 08:27] #89 closed, assigned to nobody

[2019-02-04 08:56] Dancger opened #90 "Compatibility List"
Would be nice, if the is a list for XInsta Version <==> Instagram Version. Always need to try and test around 20 versions, until it works..

[2019-02-06 05:55] jizzy002 commented on #90
Compare the last hook number (1399065) with the apk version from apkmirror they should be always the same, if they the same hooks should always work

[2019-02-07 14:12] #80 closed

[2019-02-12 07:19] Dancger commented on #90
Nice trick, thanks! Latest Hook: 1399065 => [Instagram 78.0.0.11.104 (139906)](https://www.apkmirror.com/apk/instagram/instagram-instagram/instagram-instagram-78-0-0-11-104-139906-release/)

[2019-02-24 16:17] exodius48 opened #91 "Important issue on IG 81"
[Error.txt](https://github.com/iHelp101/XInsta/files/2898090/Error.txt)
I can diwnload photo , but when try to download video, it downloaded as photo, not video.

[2019-02-27 02:08] exodius48 commented on #91
@iHelp101 Update hooks for IG 82 pls

android:versionCode="143631575" android:versionName="82.0.0.13.119"

[2019-02-27 03:14] iHelp101 commented on #91
@exodius48 I updated the hooks and pushed them to Pastebin. I will continue further testing in the morning to make sure everything is working. If you work like to use the test hooks open XInsta -> Click Pastebin and reboot.

[2019-02-27 04:52] exodius48 commented on #91
@iHelp101 Didnt test on IG 81, but on IG 82 i updated hooks from pastebin > reboot. Download button still disappear. Im using Tai Chi 4.3.9 + XInsta 2.1.0 on android 9 pie

[2019-02-27 12:20] exodius48 commented on #91
[Error.txt](https://github.com/iHelp101/XInsta/files/2910222/Error.txt)
Ok, updated hooks from pastebin again this evening, download button appear & video download is normal ( downloaded as video not image)
Tested on IG 82 on MIUI 10 android 9 pie not rooted. Error.txt above is captured when opening IG 82.
@iHelp101

[2019-02-27 12:30] exodius48 commented on #91
Update iasue:
On IG 82 download button appear on stories, but when i tap it, it report as spam, not download video/image. Then i tap report, IG crashed @iHelp101

[Error.txt](https://github.com/iHelp101/XInsta/files/2910257/Error.txt)

[2019-03-01 03:37] SwiftSilverYT commented on #91
I tried updating hooks with pastebin snd rebooting mu phone but videos still download as pictures

[2019-03-01 07:18] exodius48 commented on #91
Try to update to IG 82 stable. But stories download still broken

[2019-03-02 09:46] exodius48 commented on #91
android:versionCode="143631575" android:versionName="82.0.0.13.119"
@iHelp101 i dont know why, download button is disappear suddenly.

[2019-03-06 10:04] exodius48 commented on #91
@iHelp101 need update hooks, IG stable from playstsore

android:versionCode="144612598" android:versionName="83.0.0.20.111"

[2019-03-07 07:09] bmrd92 commented on #90
Okay, I cannot get basically anything to work on x insta. Latest version.. using Ed exposed magisk Android pie etc. The only thing that works is downloading an image. Can anyone provide

1. What exact version of Instagram is needed

2. How exactly you updated the hooks (entire procedure from start to finish, literally everything)

3. What features do, and do not work!

Thanks

[2019-03-07 07:09] bmrd92 commented on #90
I've tried probably 15 versions of Messenger

[2019-03-08 08:05] exodius48 commented on #91
@iHelp101 thx for updating the hooks. But i can't still download stories. Download button appear but when i tap it, it become report page. Then i tap report button, IG crash

[2019-03-08 08:06] exodius48 commented on #91
[Error.txt](https://github.com/iHelp101/XInsta/files/2944875/Error.txt)
Error file @iHelp101

[2019-03-08 12:18] iHelp101 commented on #91
Can you provide a screenshot of the download button/option? Instagram is testing a new dialog after you click the three dot icon and I am wondering if that is the issues you are having.

[2019-03-08 14:02] exodius48 commented on #91
@iHelp101 Here i send you screenrecord instead of Screenshot http://s000.tinyupload.com/index.php?file_id=23695288536806756210 . Also tap copy on comment not working, comment not copied.
[Error.txt](https://github.com/iHelp101/XInsta/files/2946070/Error.txt)

[2019-03-18 12:51] exodius48 commented on #91
@iHelp101 Updated to IG 84 + Updated hooks from pastebin, but download button still disappear.
IG 84.0.0.21.105 build 145652094
Tai Chi version 5.1.0 https://github.com/taichi-framework/TaiChi/releases

[2019-03-26 07:44] exodius48 commented on #91
@iHelp101 IG 86 stable released, 86.0.0.24.87 build 147375143

[2019-04-04 13:15] S-U-M-1 opened #92 "Not a compatibility bug: Download filename settings are very buggy (userID missing, itemID?)"
In the "File" section of the XInsta settings, I encountered a lot of bugs on v2.0.6 which were also present in v2.1.0.

My XInsta had for 3 years been saving files under the following filename format:

- Username
- MediaID
- UserID

**Note: this was not shown in the settings. I did not check this. I only know this from the filenames of downloads.**

Today, I decided to explore these settings. When

[2019-04-05 12:33] Frksx opened #93 "Android Pie multiple bug"
Here is a list of bug i found on Pie with details.

- When instagram has storage access Xinsta download but no more notification from download.
If we remove instagram storage access there is a first failed download and there the notification appear and xinsta download the image anyway.
It appears Xinsta create a notification in the wrong channel.
In developer mode we can see "Failed to post notifi

[2019-04-08 07:30] iHelp101 commented on #93
I am working on resolving this issue in the next update. I will provide a test APK shortly.

[2019-04-12 12:39] exodius48 commented on #91
@iHelp101 Updated to IG 88.0.0.14.99 and hooks from pastebin & github, download button is appear, but when i click it, it become share button, does not download the image/video
[Error.txt](https://github.com/iHelp101/XInsta/files/3073265/Error.txt)
[Hooks.txt](https://github.com/iHelp101/XInsta/files/3073266/Hooks.txt)

[2019-04-12 19:15] iHelp101 commented on #91
@exodius48 Is this on specific types of downloads? Stories, profile, etc. Or all downloads have this issue?

[2019-04-13 11:33] exodius48 commented on #91
@iHelp101 Stories download become report spam, profile download is OK, image/video download from person that i've followed is become share

[2019-04-13 14:36] S-U-M-1 commented on #92
@iHelp101 How do I get the userID back in the filenames of downloaded media?

[2019-04-14 13:51] iHelp101 commented on #92
The preferences file for XInsta is under /storage/emulated/0/.Instagram/. The file in question is FileFormat.txt. You can edit the format manually or delete the file to be reverted to default. The specific file format I believe you want is Username_MediaID_UserID.

[2019-04-14 13:57] pain2theworld opened #94 "Story Timer Removal feature"
I'm unable to figure what this feature refers to. I've looked up for answers on XDA Forums and Google. Is anyone willing to answer what does "Story Timer Removal" feature refers to please?

[2019-04-14 14:03] iHelp101 commented on #94
Stories can be set to last for a specific duration and then go to the next story. This feature overrides that setting and keeps a story open until you click to advance to the next one or close the story.

[2019-04-15 12:12] S-U-M-1 commented on #92
Thank you so very much. However, I noticed that there are parts of the code that tell XInsta to not fetch the userID if there is a date format set in File.txt. I can still only have either the userID with no date, or the date with no userID. Are you able to fix this so users can have any combination of formats in the filename?

[2019-04-15 16:43] S-U-M-1 commented on #92
I also noticed just now that having a FileFormat.txt file at all (i.e. going into the File Format settings for the first time and changing them, which creates the file) breaks multiple-photo downloads. It stops XInsta fetching the individual mediaIDs for each file (it seems to only fetch the mediaID of the first file), which results in only 1 file being able to be downloaded (since XInsta intellig

[2019-04-15 16:48] iHelp101 commented on #92
I am working on rewriting a lot of the code for multi downloads and file formats. I will provide you a test APK to evaluate when complete tonight.

[2019-04-16 12:36] iHelp101 commented on #92
I got file formats setup to be more modular. I am having issues with the logic behind understanding the new modularity when saving files. I also am working on fetching all possible parameters for each type of post.

[2019-04-16 16:39] S-U-M-1 commented on #92
Okay, appreciate it. I'll be ready to receive a test APK.

[2019-04-17 23:42] iHelp101 commented on #92
Here is a test APK. In this version I made the file format options more modular. Item ID was deprecated by Instagram, so I removed this option. The file format now consist of username, media ID, user ID, and date. You can use all four if you would like or use the standard three (Username, media ID, and date). I did add a protection when saving if XInsta does not detect media ID or date in the file

[2019-04-20 02:11] S-U-M-1 commented on #92
I tested the APK, and the following problems were found:

- 1 – Remaining issue: The default file format setting (before editing any file format settings, i.e. before FileFormat.txt and File.txt are created) is in reality Username_MediaID_UserID, but this is still not reflected in the File Format setting description, which says "Username_Date_MediaID", nor the default File Format settings themselv

[2019-04-20 19:21] iHelp101 commented on #92
Thank you for the feedback. I just got home from a trip and working on your request.

[2019-04-26 13:56] Poet145 opened #95 "Hooks Update"
Hello. I'm running IG 90.0.0.18.110, on OP6T 9.0.3. Is there a hooks update available? Last update on here was 16 days ago and the current hooks stopped working last week. Can I rollback to a particular previous version of IG to get Xinsta working again (at least downloads)?

[2019-04-26 13:59] iHelp101 commented on #95
Open XInsta -> Click Pastebin and reboot. This should get this version for you. Pastebin is where I test hooks before I push them to GitHub.

[2019-04-26 14:10] Poet145 commented on #95
Going to test now. Will report back momentarily. Thanks for the quick response!

[2019-04-26 14:50] Poet145 commented on #95
I believe all hooks are working. I can confirm downloading (all, selections etc) images and video working. Stories timer working. Can't test hide story views, but all else seems functional. Thanks!

[2019-04-26 19:55] iamdexter commented on #95
Where is the url to the pastebin, I try to download changing the default config but stills download the one from GitHub... Send it by private if needed.

Thanks.

[2019-04-26 19:57] iHelp101 commented on #95
https://pastebin.com/raw/sTXbUFcx

[2019-04-29 11:51] jacky8399 opened #96 "Native crash"
Instagram always crashes with native crash. When I update to the latest hooks from pastebin, Instagram will stop crashing for a while until after some time it starts to crash again. I have the latest version of Instagram (151414277).
Stack trace of the native crash:
![Screenshot_20190429-193333__01](https://user-images.githubusercontent.com/7542810/56894045-3a3ac400-6ab7-11e9-85ad-1a52a2da1ec7.jpg

[2019-04-29 12:55] mrsdbskn commented on #96
I can confirm the crash as I have the same issue.

[2019-04-30 22:06] iHelp101 commented on #96
Are you still having this issue?

[2019-05-01 06:06] jacky8399 commented on #96
I stopped having the issue when I was using 151414277, but none of the features (excluding image downloading and profile pic zoom) were working.

However, once I updated to 152367502, I encountered the same problem, albeit with a different class this time (`X.1DB.D`). `X.1DB.D`, like the other class, appears to take an argument of type java.io.Reader.

[2019-05-02 00:32] Ristovski opened #97 "Hook generation"
Could you disclose the method for hook update generation? I assume you use some kind of script.

It would be nice if people using the beta/alpha versions of Instagram could use XInsta as well without having to stay on stable and wait until XInsta has a new hooks update.

[2019-05-03 01:31] iamdexter commented on #96
The same problem with the testing hooks, I returned to 1514142...

[2019-05-03 16:53] iHelp101 commented on #96
If someone can get me a logcat or bug report of the crash it would really help. I can't reproduce the crash sadly, so testing a fix is very tricky.

[2019-05-04 07:37] jacky8399 commented on #96
here is the logcat for the crash
https://pastebin.com/q5wSEjjp

[2019-05-04 12:53] exodius48 commented on #95
@iHelp101 My IG version 91.0.0.18.118 build 152367502 , updated hooks from pastebin don't work, download button disappear

[2019-05-04 21:17] jizzy002 commented on #97
**Bump** for this one, i want to know how to pull the hooks and contribute to this module instead of just merging pastebin hooks

[2019-05-04 21:23] jizzy002 commented on #95
Currently if you are on a higher DPI device hooks are broken, because they are only updated to version 152367**4** not 152367**5** so wait a little bit more till they get updated :)

[2019-05-06 15:24] iHelp101 commented on #97
I made a Python script public about a year ago that I use for updating the hooks. Some of the hooks do require manual work to find them, but I will work better on documentation. I will also work on a better method of finding hooks.

https://github.com/iHelp101/XInsta-Helper

[2019-05-06 15:46] Ristovski commented on #97
Very nice, thanks!

[2019-05-06 15:46] #97 closed

[2019-05-09 23:45] JCalv opened #100 "Instagram now serving 1440px images & some 1440x2650 stories"
Xinsta is having some trouble. The image quality is dependent on the phone’s screen resolution. If you have a 1080p phone, then a 1080px image will be downloaded. If you have a 1440p phone, it will get a 1440px picture. Enabling the Force HR option in settings doesn't do anything in my experience.
Auto-downloading is also inconsistent. Even on the 1440p phone it will get the 1080px images, while a

[2019-05-13 08:38] skirol opened #101 "Story Privacy Hook Fails"
Story Privacy Hook hasn't been working for a while. At least since v76.
Here's a log.
[Error.txt](https://github.com/iHelp101/XInsta/files/3171890/Error.txt)

[2019-05-16 17:33] ayush7gl commented on #95
Please update hooks to version 93. Instagram v91 v92 v93 all not working.

[2019-05-17 02:13] ridicksm opened #102 "How do I update hooks manually?"
Title

[2019-05-18 07:24] ohman0 commented on #102
In Xinsta
Settings-->(scroll down) Manually Change Hooks

[2019-05-18 20:15] zeromentu opened #103 "Dm videos download"
Without any update, in stage an private videos download fail. Any other downloads from feed and etc are working fine

[2019-05-19 13:51] exodius48 commented on #95
@iHelp101 I Updated IG to version 93 when i see new hooks on pastebin. But download button still disappear.
My IG version 93.1.0.19.102 build 154400383

[2019-05-20 14:10] exodius48 commented on #101
I confirmed this. Test on XInsta 2.1.0 , IG 93, TaiChi 5.2.0-232, MIUI 10  android 9, Device Poco F1
But download videos & image from strories work. @iHelp101
[Error.txt](https://github.com/iHelp101/XInsta/files/3198253/Error.txt)

[2019-05-24 14:33] jizzy002 opened #104 "[BUG] Stoties crashing"
I think it's a issue with the new hooks and version, Instagram is crashing while listing stories, changing next one

[2019-05-27 06:09] jizzy002 commented on #104
Resolved with hook update.

[2019-05-27 06:09] #104 closed

[2019-05-28 01:40] exodius48 commented on #91
Updated to IG 94, download working, stories privacy, tap comment to copy not working, pin save to download i select tap and hold seems not working too. @iHelp101
[Error.txt](https://github.com/iHelp101/XInsta/files/3225315/Error.txt)

[2019-06-01 12:48] jizzy002 opened #105 "[Help Wanted] Xinsta-Helper tool"
After some time editing and fiddling around with the helper tool i managed to maybe create some hooks for newer instagram versions by comparing current class hooks

**example:** version: **1553740** has the **FeedOnClick** Class set to **X.5lh**
which has this following string when opened with a text editor: _'story_app_attribution'_

I used your method from your python script " **grep -Ril 'story

[2019-06-07 20:23] trinaldi commented on #94
Is this feature working?

[2019-06-07 21:44] arlllk commented on #94
To me with 1553740 works perfectly

[2019-06-07 21:46] trinaldi commented on #94
Huh...it's not working for me  It was working then I had to reinstall.

How exactly do I activate the mod? I've tried disable-reboot, enable-reboot

[2019-06-07 21:53] arlllk commented on #94
Yo need to go to the Xposed App and from there activate the module. Then you go to XInsta options activate the option. But you need to make sure that you're using the correct Instagram version

On Fri, Jun 7, 2019 at 4:46 PM Tiago Rinaldi <notifications@github.com<mailto:notifications@github.com>> wrote:

Huh...it's not working for me It was working then I had to reinstall.

How exactly do I activ

[2019-06-07 21:55] trinaldi commented on #94
I'm using a version that was working before. I'm gonna retry.

On Fri, Jun 7, 2019, 18:53 Arley Henostroza <notifications@github.com>
wrote:

[2019-06-10 19:55] trinaldi commented on #94
Yeah, not working for me.

[2019-06-11 00:44] OhzGamer commented on #103
After the 1523675 is not on the hooks to download the DM videos

[2019-06-12 18:23] zeromentu commented on #103
Sorry I didn't understand, what you mean? Is three anything I can do it to have it again

[2019-06-22 14:40] ayush7gl commented on #95
Please update hooks for instagram v98. There is no updtae after v93 please update.

[2019-06-22 14:47] Poet145 commented on #95
I second that request. I'm still running 93.1.0.19.102 for this very reason and although it allows me to download, there are security reasons and additional functionality that comes with updates and I'd like to be able to update. Is there anyway we can help locate the hooks?

[2019-06-24 12:20] exodius48 commented on #95
@ayush7gl @Poet145 Try update hooks from Pastebin. I see update on pastebin "1595266" which is build number of IG 98

[2019-07-06 04:07] ayush7gl commented on #95
@exodius48 where can i see updates on pastebin. Please provide me a link.

[2019-07-06 06:46] exodius48 commented on #95
http://pastebin.com/raw/sTXbUFcx

[2019-07-10 12:12] mizo2019 opened #108 "low quality picture"
the profil and storie picture is full resulation but other pic is low quality please give me instagram version and hook compatible to download photo in full resulation 1080*1350

[2019-07-10 23:26] iHelp101 commented on #79
Fixed in next update.

[2019-07-10 23:26] #79 closed

[2019-07-10 23:26] iHelp101 commented on #101
Fixed in next update.

[2019-07-10 23:26] #101 closed

[2019-07-10 23:26] #91 closed

[2019-07-10 23:27] iHelp101 commented on #87
Fixed in next update.

[2019-07-10 23:27] #87 closed

[2019-07-10 23:27] #95 closed

[2019-07-10 23:27] #82 closed

[2019-07-10 23:27] iHelp101 commented on #70
Fixed in next update.

[2019-07-10 23:27] #70 closed

[2019-07-10 23:28] #84 closed

[2019-07-10 23:28] iHelp101 commented on #83
Fixed in next update.

[2019-07-10 23:28] #83 closed

[2019-07-10 23:29] iHelp101 commented on #90
I am working on a new hook version due to issues with ARMv7 and ARM64 hooks differences.

[2019-07-10 23:29] #90 closed

[2019-07-10 23:29] #102 closed

[2019-07-10 23:29] iHelp101 commented on #93
Fixed in next update.

[2019-07-10 23:29] #93 closed

[2019-07-10 23:30] iHelp101 commented on #96
Fixed in next update.

[2019-07-10 23:30] #96 closed

[2019-07-10 23:30] #85 closed

[2019-07-10 23:30] iHelp101 commented on #94
Fixed in next update.

[2019-07-10 23:30] #94 closed

[2019-07-10 23:31] trinaldi commented on #94
Nice, thanks!

[2019-07-10 23:31] iHelp101 commented on #100
Fixed in next update.

[2019-07-10 23:31] #100 closed

[2019-07-10 23:32] iHelp101 commented on #108
Images are provided by Instagram based on your device screen resolution. In the past faking your device resolution made Instagram serve full resolution images, but this is not the case anymore.

[2019-07-10 23:33] iHelp101 commented on #76
Fixed in next update.

[2019-07-10 23:33] #76 closed

[2019-07-10 23:33] #74 closed

[2019-07-10 23:33] iHelp101 commented on #71
Fixed in next update.

[2019-07-10 23:33] #71 closed

[2019-07-10 23:35] iHelp101 commented on #75
I am creating an issue that will be for new Instagram version hook issues. That way it can be monitored easily as new version come out.

[2019-07-10 23:35] #75 closed

[2019-07-10 23:37] #72 closed

[2019-07-10 23:38] iHelp101 opened #109 "New Instagram Versions"
Please provide new Instagram versions that are not working. Beta and Alpha versions are difficult to support due to rapid changes. S

[2019-07-10 23:39] iHelp101 opened #110 "ARM64 Hooks"
ARM64 versions of Instagram have different hooks than ARMv7 versions. This causes issues due to the version codes being very similar.

[2019-07-11 20:16] Poet145 commented on #109
I am currently running IG 101.0.0.15.120 on OnePlus 6T (Android 9) and none of the XInsta functions are working. I have updated the hooks through the UPDATE HOOKS section in the settings of XInsta from both Pastetbin and Github. I've also edited the hooks through the settings (Manually Change Hooks) by pasting from Pastebin. I've tried several versions, but I'm currently on build 1624390 and it do

[2019-07-11 20:25] Poet145 commented on #100
I see that this is closed, but I'd like to ask if this is necessary. I understand wanting the larger picture, but if we can only upload to IG at 1080x1350, isn't an "upscaled" image actually lesser quality? Can we now upload an image larger than 1080x1350?

[2019-07-12 03:16] 4F684D616E commented on #109
IG 98.0.0.15.119 (159526)
LG V30 (Magisk + Xposed)
Android 8
None of the hooks are working and log is showing up as empty

[2019-07-13 11:13] JCalv commented on #100
Yes and the quality of the 1440px images is in a lot of cases noticeably better when compared to the 1080px images. It's not just upscaling.

[2019-07-13 14:30] Poet145 commented on #100
Thanks for that information. This will change my own upload strategy :) I did not realize I could upload at a higher resolution than 1080. I mean, I knew I could, but assumed IG was reducing anything uploaded down to 1080 anyway. Uploading at 1440 from now on!

[2019-07-18 01:27] ayush7gl commented on #109
@ihelp101
IG 98.0.0.15.119 (159526) is the last version working with github hooks. Please update the hooks for IG 102.0.0.20.117.

[2019-07-18 12:26] xbzd commented on #108
@Ihelp101 theres a mod called "instamod" that can download Images at 1080p.
Thanku for this great module.

[2019-07-19 17:48] shivangswain commented on #110
How will this affect the future updates of XInsta? Does this mean anything bad?

[2019-07-19 21:49] iHelp101 commented on #110
I am working on a fix. The simplest solution I have found so far is adding a letter to the hooks for ARM64. That way I have a way for XInsta to quickly tell the difference. I am working on getting this working this weekend along with getting all hooks up-to-date.

[2019-07-21 20:56] pro4tlzz commented on #110
We appreciate the work!

[2019-07-23 12:07] ayush7gl commented on #109
It's been a month, please update it to latest version @ihelp101

[2019-07-26 01:48] exodius48 commented on #109
android:versionCode="164094539"
android:versionName="103.1.0.15.119"

Hooks from pastebin & github can't be updated.
[Error.txt](https://github.com/iHelp101/XInsta/files/3433851/Error.txt)

Tested on Pocophone F1 android 9 MIUI 10

@iHelp101

[2019-07-27 08:04] exodius48 commented on #109
Download button not appear after successfully update hooks from pastebin.
@iHelp101
[Error.txt](https://github.com/iHelp101/XInsta/files/3437955/Error.txt)

[2019-07-27 17:43] adityashaw2 commented on #109
Instagram version 92.0.0.15.114.
Even the "download" option is not shown in the App.
Android 7.1.2

[2019-08-03 12:44] Poet145 opened #111 "Xinsta Hooks/IG builds that ARE currently working..."
I know there is an issue created for which builds of XInsta and IG are NOT currently working, but I wanted to keep track of which combinations ARE currently working. Everytime I notice the hooks have been updated, I update IG only to have XInsta fail often, so I'd appreciate anyone who can report back which builds you're having success with.

OnePlus6T, Oreo, currently running IG 93.1.0.19.102 (bu

[2019-08-03 13:38] iHelp101 commented on #111
The issue is a new dialog hook (Three dot menu). I am working on some final bugs and will release the new update.

[2019-08-03 14:36] Poet145 commented on #111
I appreciate the status update, but I'd like to try and keep track of which builds **ARE** working on different devices. Some have remarked that certain builds are working for them, but I have not had any success with anything newer than IG 93.1.0.19.102. I'd like to know which builds **ARE** working for others so I don't update every time I see the hooks updated.

[2019-08-08 17:10] Poet145 commented on #111
Hey everyone, just checking in to see if anyone is having any success with any build combinations? I am still running IG 93.1.0.19.102 and downloads do work, but not much else. I also them my IG black using Swift Black (Substratum) and there is no more support for such an old version of IG so I need to update soon. Is anyone having XInsta success with any IG version newer than 93.1.0.19.102?

[2019-08-10 06:01] trinaldi commented on #94
Not working

[2019-08-10 15:58] untokozontuli commented on #111
Hey, Poet145.

I currently am using Instagram version 105.0.0.18.119 and unfortunately none of the XInsta hooks work.

[2019-08-10 22:27] iHelp101 commented on #111
Give this test APK a try.

[2019-08-10 23:05] Poet145 commented on #111
What is this a test apk of? Is it a new buildn

[2019-08-10 23:43] Poet145 commented on #111
Okay. Installed the test apk and rebooted. Updated IG to 105 and rebooted. Updated hooks through xinsta and rebooted. On reboot, error.txt has several entries (I'll post) but downloading is working.

[2019-08-10 23:44] Poet145 commented on #111
20190810_193548 - XInsta Initialized
20190810_193548 - Instagram Version Code: 166149717
20190810_193548 - Device Codename: ONEPLUS A6013
20190810_193548 - Android Version: 9
20190810_193548 - XInsta Version 2.1.0
20190810_193548 - Like Multi Hooks Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20190810_193548 - Like Multi Hook Class - X.1eA
20190810_193548 - Pin Press New Lo

[2019-08-11 11:58] untokozontuli commented on #111
HOORAY! HOORAY! Thank you so much iHelp101, the download hook is now working!

[2019-08-13 02:35] trinaldi commented on #111
@untokozontuli What else is working?

[2019-08-17 14:40] allyn0303 commented on #111
I want to download Instagram version 105.0.0.18.119

[2019-08-17 14:42] allyn0303 commented on #111
@Poet145 I want to download Instagram version 93.1.0.19.102

[2019-08-18 05:55] exodius48 commented on #109
Instagram version 106.0.0.24.118 build 167338559 Download button disappear
[Error.txt](https://github.com/iHelp101/XInsta/files/3512715/Error.txt)

[2019-08-18 11:01] Poet145 commented on #111
@allyn0303 You should look on apk mirror for 93.1.0.19.102. With the test apk though, I was able to update to 105.0.0.18.119 with success.

[2019-08-19 20:46] twiztidditzwit commented on #111
- Instagram version 106.0.0.24.118
- XInsta version 2.1.0
- Moto G6 Play XT-1922-9
- Android Pie build PPP29.118-17-1

[2019-08-19 21:39] Poet145 commented on #111
@twiztidditzwit Are all Xinsta functions working for you on 106? I'm still on 105.0.0.18.119, but only downloads are working.

[2019-08-19 23:00] trinaldi commented on #111
It's not working at all for me, even with Riru, _et al._

[2019-08-21 16:40] ayush7gl commented on #111
@ihelp101 with the new apk you sent, I'm unable to search anything in explorer tab. Search field show blank, no results. Reverted back to previous version

[2019-08-21 17:16] Poet145 commented on #111
@ayush7gl, I'm using the test apk and I have not had those issues. I can download posts, but that is all that seems to work. Stories timer fails, as well as other functions, but I can search the explore tab. Are you perhaps using a theme engine or have IG themed somehow and maybe there's a conflict with an overlay?

[2019-08-22 22:15] mrsdbskn commented on #111
@ayush7gl you have to disable hide search history

[2019-08-22 22:33] trinaldi commented on #111
I gave up now I'm using a modded Instagram version.

[2019-08-23 05:05] twiztidditzwit commented on #111
Yes. Downloads work. Story hide works. Story timeout disable works. Ad removal works. Hide likes works. Amongst others. As far as I can tell, everything seems to be working. Would you like me to attach any logs? Let me know how I can help 😎

[2019-08-25 06:09] ayush7gl commented on #111
@twiztidditzwit which version arm or arm64?

[2019-08-26 12:24] ayush7gl commented on #110
@ihelp101 latest hooks 1683616 not working. Tried both github and pastebin hooks. Please fix

[2019-08-26 12:26] iHelp101 commented on #110
@ayush7gl Please provide your error log.

[2019-08-26 13:44] pro4tlzz commented on #111
Try latest hooks @trinaldi

[2019-08-26 13:57] ayush7gl commented on #110
@ihelp101
20190826_192458 - XInsta Initialized
20190826_192458 - Instagram Version Code: 168361634
20190826_192458 - Device Codename: POCO F1
20190826_192458 - Android Version: 9
20190826_192458 - XInsta Version 2.1.0
20190826_192459 - Comment Failed - de.robv.android.xposed.XposedHelpers$ClassNotFoundError: java.lang.ClassNotFoundException: X.1MJ
20190826_192459 - Comment Class: X.5sY
20190826_19

[2019-08-27 02:49] ayush7gl commented on #110
@ihelp101 i did what you said and it worked also. But i rebooted again for some reason and now it's gone, no download option, tried rebooting twice after that. It isn't stable.

[2019-08-27 03:03] ayush7gl commented on #110
@ihelp101 on updating from pastebin hooks starts from 16836169;X.465 but on opening instagram hooks automatically change to 168361;X.46A. On first updating hooks it stayed at 16836169;X.465 and everything working. Now it changing to 168361;X.46A on opening instagram. How can i make hooks not change to 168361;X.46A?

[2019-08-28 02:45] ayush7gl commented on #110
@ihelp101 same problem, on first reboot it works but gone after another reboot. Tried both Github and Pastebin Hooks. Hooks are changing automatically from 16836169;X.465 to 168361;X.46A

[2019-08-28 02:50] ayush7gl commented on #110
@ihelp no issue with Instagram v 106.0.0.24.118

[2019-08-28 03:20] ayush7gl commented on #110
Everything working fine with v106.0.0.24.118. the new xinsta app has disable search history problem. Please fix that

[2019-09-16 21:20] kchristoudias commented on #111
I have followed this thread but i still cant get it to work. Does anyone have any idea? Logs added below

09-17 00:16:03.461 26347 26347 I EdXposed-Bridge: XInsta - XInsta Initialized
09-17 00:16:03.464 26347 26347 I EdXposed-Bridge: XInsta - Instagram Version Code: 167338559
09-17 00:16:03.465 26347 26347 I EdXposed-Bridge: XInsta - Device Codename: ONEPLUS A5000
09-17 00:16:03.466 26347 26347 I

[2019-09-22 12:36] miaachan commented on #111
Is Xinsta not usable anymore for new arm64 Instagram? I had tried many new Instagram version but with no luck.
Xinsta only works for me with 93.1.XXX version…

[2019-09-25 20:55] Poet145 commented on #110
Hello :) Any chance we will get a hooks update soon? It's been almost a month since the last update and many of us are still running IG 106.0.0.24.118.

Is there anyway anyone can help with hook discovery?

[2019-09-25 21:04] iHelp101 commented on #110
I will update hooks tonight. I have been trying to get a reliable auto hook updater, but I still have about 7 hooks that have to be found manually.

[2019-09-25 21:07] Poet145 commented on #110
I'm offering any help I can provide, and I'm sure their are others here willing to assist if we can. I appreciate what you've built for us and I'd love to contribute if I can.

Thanks for the update :)

[2019-09-26 01:11] ayush7gl commented on #110
@ihelp101 hooks having problem with arm64 version. On rebooting it works for sometime then the download option disappears. Arm 64 instagram version is 17408167 but in hooks you took 17408169, may be this is the problem. Please check. Thanks

[2019-09-26 01:19] iHelp101 commented on #110
@ayush7gl I made a small change to the ARM64 hooks. Please try again in a few minutes (GitHub cache can take a few minutes to push out changes). The version code for ARM64 version will always end with 9. It is a way for me to have two difference hooks for similar version codes.

[2019-09-26 02:21] ayush7gl commented on #110
@ihelp101 hooks are changing from 17408169 to 1740816, hooks work only when they stays at 17408169. How to stop this changing automatically.

[2019-09-26 02:22] iHelp101 commented on #110
Can you send me your error log or paste it? I am wondering if their is a check that is failing and forcing your back to ARM64 hooks.

[2019-09-26 02:30] mrsdbskn commented on #110
20190925_192502 - XInsta Initialized
20190925_192502 - Instagram Version Code: 174081672
20190925_192502 - Device Codename: LG-H930
20190925_192502 - Android Version: 8.0.0
20190925_192502 - XInsta Version 2.1.0
20190925_192503 - Hooks Fetched!
20190925_192503 - Last
20190925_192503 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20190925_192503 - Comment Class: X.3A

[2019-09-26 02:32] mrsdbskn commented on #110
@ihelp101 i have the dame problem above you will see my log.
I am using the test apk with Instagram 174081672 but everytime i start Instagram the hooks are changing

[2019-09-26 02:34] ayush7gl commented on #110
20190926_080229 - XInsta Initialized
20190926_080229 - Instagram Version Code: 174081672
20190926_080229 - Device Codename: POCO F1
20190926_080229 - Android Version: 9
20190926_080229 - XInsta Version 2.1.0
20190926_080230 - Hooks Fetched!
20190926_080230 - Last
20190926_080230 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20190926_080230 - Comment Class: X.3AL
20

[2019-09-26 21:01] lacshire commented on #111
The version (106.0.0.24.118) works well, downloads photos and video of the stories and feed, but does not download in good resolution the profile image of a user.
Is there any version where if I can download in good quality the profile image of a user, I had before a version of instagram that if it allowed me to download the profile picture in good quality but I do not remember what it is.

[2019-09-26 21:44] iHelp101 commented on #110
Please give this APK a try. This should fix the Instagram hook check when the module loads.

https://drive.google.com/open?id=1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa

[2019-09-26 22:14] mrsdbskn commented on #110
20190926_151249 - XInsta Initialized
20190926_151249 - Instagram Version Code: 174081672
20190926_151249 - Device Codename: LG-H930
20190926_151249 - Android Version: 8.0.0
20190926_151249 - XInsta Version 2.1.0
20190926_151249 - Last
20190926_151249 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20190926_151249 - Comment Class: X.3AL
20190926_151249 - Date Failed2

[2019-09-26 22:15] mrsdbskn commented on #110
@ihelp101 downloaded the app but it still doesn't work, above my log. let me know if you need anything else

[2019-09-26 22:48] iHelp101 commented on #110
Sorry, I don't have a ARM64 device so it is short of a shot in the dark. One more try please. Thank you.

https://drive.google.com/open?id=1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa

[2019-09-26 22:58] mrsdbskn commented on #110
20190926_155302 - XInsta Initialized
20190926_155302 - Instagram Version Code: 174081672
20190926_155302 - Device Codename: LG-H930
20190926_155302 - Android Version: 8.0.0
20190926_155302 - XInsta Version 2.1.0
20190926_155302 - Last
20190926_155302 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20190926_155302 - Comment Class: X.3AL
20190926_155302 - Date Failed2

[2019-09-26 22:59] mrsdbskn commented on #110
@ihelp101 u dont have to be sorry. I really appreciate your work and efforts. The hooking works now in guess as i was able to download a pic. The other features are not working but i think that needs something else to fix.

[2019-09-27 05:26] S-U-M-1 commented on #111
Only download function has worked in my new ZenFone 6 Android Pie with EdXposed SandHook. Instagram version and XInsta apk is the same as in my S7 edge with Marshmallow and traditional Xposed, in which all functions worked.
Could have something to do with that rather than Instagram.

[2019-09-27 09:12] ayush7gl commented on #110
@ihelp101 heyy thanks for new app update, now the hooks are working and everything fine. But on Disabling Search History, when i search anything it shows nothing. This happened in last version also. Please check, I'm attaching error log

20190927_143752 - XInsta Initialized
20190927_143752 - Instagram Version Code: 174081672
20190927_143752 - Device Codename: POCO F1
20190927_143752 - Android Vers

[2019-09-30 08:33] DvLAx3l commented on #110
20190930_021132 - XInsta Initialized
20190930_021132 - Instagram Version Code: 174081672
20190930_021132 - Device Codename: Pixel 3 XL
20190930_021132 - Android Version: 10
20190930_021132 - XInsta Version 2.1.1
20190930_021133 - Hooks Fetched!
20190930_021133 - Last
20190930_021133 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20190930_021133 - Comment Class: X.3A

[2019-10-09 04:38] ayush7gl commented on #110
@ihelp101 Dark mode arrived in instagram v114. That look awesome, can you please update the hosts to this version?

[2019-10-11 22:18] jizzy002 commented on #105
Fully given up on this, not using xposed anymore.

[2019-10-11 22:18] #105 closed

[2019-10-12 02:10] ayush7gl commented on #110
@ihelp101 thanks for updating hooks for v114. Still there is the same problem with arm64 hooks, Not satble. Changes to arm on opening instagram app. Please check.

20191012_073319 - XInsta Initialized
20191012_073319 - Instagram Version Code: 176649504
20191012_073319 - Device Codename: POCO F1
20191012_073319 - Android Version: 9.0
20191012_073319 - XInsta Version 2.1.1
20191012_073319 - Hooks Fe

[2019-10-12 14:07] Poet145 commented on #110
Ayush, I'm getting the same result. I also tried unchecking the "check for updates" box but that had no effect. I pasted in the correct hooks, and verified they were there by then opening the edit hooks selection, but like you mentioned, as soon as IG is opened they switch to non-arm hooks. Any fix?

[2019-10-12 15:40] iHelp101 commented on #110
When the Xposed module loads it completes a version check. This is bugged in the last test APK. This APK should fix it.

https://drive.google.com/file/d/1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa/view?usp=drivesdk

[2019-10-13 02:08] ayush7gl commented on #110
@ihelp101 this above app you shared doesn't seems to work. Hooks again change to arm.

[2019-10-13 02:13] melbarouzi commented on #110
Latest apk doesnt seems to work ... Tried with v 106 & 112  nothinh happend ... Even the error file doesnt show nothing instead of

20191013_001641 - ---------------------------
20191013_001641 - XInsta Initialized
20191013_001641 - Instagram Version Code: 167338559
20191013_001641 - Device Codename: WAS-LX1A
20191013_001641 - Android Version: 8.0.0
20191013_001641 - XInsta Version 2.1.1

Using Ma

[2019-10-14 13:08] DvLAx3l commented on #110
20191014_150647 - XInsta Initialized
20191014_150647 - Instagram Version Code: 176649511
20191014_150647 - Device Codename: Pixel 3 XL
20191014_150647 - Android Version: 10
20191014_150647 - XInsta Version 2.1.1
20191014_150647 - Hooks Fetched!
20191014_150647 - Last
20191014_150647 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20191014_150647 - Comment Class: X.37

[2019-10-14 13:16] iHelp101 commented on #110
I pushed some test hooks to Pastebin. Please open XInsta -> Click Pastebin and reboot. If the hooks work I will push them to GitHub.

[2019-10-14 13:18] DvLAx3l commented on #110
Ok I've tried your latest pastebin hook and it works!

20191014_151555 - ---------------------------
20191014_151555 - XInsta Initialized
20191014_151555 - Instagram Version Code: 176649511
20191014_151555 - Device Codename: Pixel 3 XL
20191014_151555 - Android Version: 10
20191014_151555 - XInsta Version 2.1.1
20191014_151556 - Like Multi Hooks Failed - java.lang.ArrayIndexOutOfBoundsException: l

[2019-10-14 14:21] Poet145 commented on #110
I'm having the same issue as the DvLAx3l. Download option appears, but when clicked nothing happens.

20191014_095617 - XInsta Initialized
20191014_095617 - Instagram Version Code: 176649504
20191014_095617 - Device Codename: ONEPLUS A6013
20191014_095617 - Android Version: 9
20191014_095617 - XInsta Version 2.1.1
20191014_095618 - Like Multi Hooks Failed - java.lang.ArrayIndexOutOfBoundsException

[2019-10-14 16:03] ayush7gl commented on #110
@ihelp101 tried with new and older xinsta, latest hooks from pastebin don't work. And i think only the download feature doesn't work, download button appears but doesn't download anything. Other like propile pic zoom, follower color working

20191014_213011 - XInsta Initialized
20191014_213011 - Instagram Version Code: 176649504
20191014_213011 - Device Codename: POCO F1
20191014_213011 - Android

[2019-10-14 16:10] iHelp101 commented on #110
I will update the hooks when I get home in a few hours. It looks like the hooks that links the button and feed data is broken.

[2019-10-15 00:58] iHelp101 commented on #110
Sorry about the delay. The hooks are updated on Pastebin now. I believe they should fix all issues. If so I will push them to GitHub for all users.

[2019-10-15 01:44] ayush7gl commented on #110
Thanks working now. 🥰

[2019-10-15 08:33] skirol commented on #110
@iHelp101 can you please also take a look with date formatting? it's not working with the latest test apk and pastebin hooks.

[2019-10-15 16:44] Teknosrp commented on #111
I have downloaded the latest hooks and unfortunately none of the main functions of Xinsta work (Downloading posts, disabling stories timeout...). The instagram version  code is 175574596. I have attached the error log because it's quite long.
[Error.txt](https://github.com/iHelp101/XInsta/files/3730479/Error.txt)

If anyone knows on wich version do the current hooks work, please post it.

[2019-10-15 18:15] iHelp101 commented on #110
@skirol Hello, I updated the APK Saturday with a date format fix. When did you last update the APK? If you already have the update, please let me know what specifically is happening with date formatting.

https://drive.google.com/file/d/1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa/view?usp=drivesdk

[2019-10-15 18:56] skirol commented on #110
@iHelp101 hi, i updated the apk today from the gdrive link you posted on saturday, but just to be sure, i downloaded it again from your post above. i set the date format to show as DD.MM.YYYY with a 24 hour clock format hh:mm, but instagram is showing it like "days/hours/minutes/seconds ago". i had ig v112 with the previous xinsta test apk and the hook worked fine. i downloaded the hooks from past

[2019-10-17 16:38] afzaalkhn24 commented on #110
Its not working with insta 114 (480Dpi) and on (560dpi) version the download option is not working ...please provide an update about it.

[2019-10-21 01:58] ayush7gl commented on #110
@ihelp101 thanks for updating hooks for v115. Story download not working, date formatting also doesn't work.

[2019-10-21 02:09] iHelp101 commented on #110
I don't see an error about stories in your error log. Does nothing occur when you try to download stories? I am working on the date format hook. Instagram changes the method, which means an APK change is needed.

[2019-10-21 03:23] ayush7gl commented on #110
@ihelp101 no download button in stories.

[2019-10-22 00:35] iHelp101 commented on #110
@ayush7gl Please try the Pastebin hooks.

[2019-10-22 02:04] ayush7gl commented on #110
@ihelp101 now it worked. Thank You Very much

[2019-10-23 04:10] lacshire opened #112 "Instagram (115.0.0.26.11) It's working."
The latest version is working (Instagram 115.0.0.26.11), everything works well:
1. Download photos and videos from the feed and stories.
2. Download the profile image but in low quality.
The new version of instagram already brings the dark theme.

[2019-10-24 17:16] lil-schemer commented on #112
Version code ?

[2019-10-26 08:06] makeins29 commented on #112
No funciona :(

[2019-10-26 12:27] lacshire commented on #112
115.0.0.26.111 (177770663)
Link Apkmirror: https://www.apkmirror.com/apk/instagram/instagram-instagram/instagram-instagram-115-0-0-26-111-release/instagram-115-0-0-26-111-3-android-apk-download/

[2019-10-26 15:51] makeins29 commented on #112
On my Samsung with Android 7.0 it doesn't work for me :(

En mi Samsung con Android 7.0 no me funciona :(

[2019-10-30 03:11] ayush7gl commented on #110
@ihelp101 thanks, everything working now in instagram v118 from pastebin hooks

[2019-10-30 03:15] iHelp101 commented on #110
I have a fix for the date format issue as well. However, I am trying to fix one more bug that is causing issues as well. I will post an updated APK tomorrow. I will keep the hooks on Pastebin tonight and pull them in the morning if I get no complaints for the ARM hooks.

[2019-10-30 03:19] Poet145 commented on #110
The hooks on pastebin are for IG 118?

[2019-10-30 03:21] mrsdbskn commented on #110
guys does your Instagram also force closes until you deactivate reboot activate the module?

[2019-10-30 09:52] skirol commented on #110
thank for the date format fix, waiting for it tomorrow. with the latest v117 and pastebing hooks, disable stories timer stopped working.

[2019-10-30 16:08] ayush7gl commented on #110
@ihelp101 hey download not working, it shows only download button, but download nothing

[2019-10-30 22:22] iHelp101 commented on #110
Pastebin hooks updated to fix download issue. Here is the APK with comments fix. Let me know which version code you are with your stories timer issue.

https://drive.google.com/open?id=1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa

[2019-10-31 00:03] ayush7gl commented on #110
I tried latest xinsta app release and hooks from pastebin, instagram version 117 arm 64
Story timer not fixed
Date format doesn't work
Disable Search History doesn't work.

[2019-10-31 00:41] iHelp101 commented on #110
Try a stories download please. It uses the exact same hook as stories timer. I am looking into the date format issue. I have it working for ARM7, so let me double check the ARM64 version is similar.

[2019-10-31 03:07] ayush7gl commented on #110
@iHelp101 yup story download not working
20191031_071610 - XInsta Initialized
20191031_071610 - Instagram Version Code: 180322810
20191031_071610 - Device Codename: POCO F1
20191031_071610 - Android Version: 9
20191031_071610 - XInsta Version 2.1.1
20191031_071611 - Like Multi Hooks Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20191031_071611 - Like Multi Hook Class - X.1eA

[2019-10-31 20:11] skirol commented on #110
date formatting works now with the latest test apk you posted on arm64-v8a, instagram v117.0.0.28.123 (180322810). thanks. stories timer and download stories is not working as reported.

[2019-11-01 01:20] iHelp101 commented on #110
Alright, Instagram is making ARM64 DPI versions have some separate hooks now. Please try the latest Pastebin hooks.

[2019-11-01 01:37] ayush7gl commented on #110
@iHelp101 now story download working, thanks

[2019-11-01 09:02] skirol commented on #110
date formatting, disable stories timer and stories download work for me now. thank you.

[2019-11-01 18:52] ayush7gl commented on #110
Date formatting also working with latest test apk. Now please check "disable search history". It has not been working for last 3 4 updates. Thanks

[2019-11-02 10:03] skirol commented on #110
@iHelp101 there's a problem with stories privacy, disable stories timer and hide stories, i guess because the last two now sare the same hooks. sometimes all three would reset if you enable just one or two of the three and the settings won't stick. it takes a few tries for me of setting them up individually, then exiting and opening the app after each try, until the settings i chose would eventual

[2019-11-06 18:28] Soliikaa opened #113 "How I can update hooks?"
Hi! I need help. I'd like to help to update hooks, but I don't know what are hooks. I haven't found any on Google about that. Any can make a simple tutorial, or explain a little? Thanks!

[2019-11-09 14:47] dr-kaisar opened #114 ""Disbable Discovery Section" not working"
"Disbable Discovery Section (Search Icon)" option doesn't work for me. Though I have turned on the "Disbale Discovery" option, when I tap the search icon/magnifying glass icon, the tab still shows a feed/vine-like section. Can it be fixed please?

I am using InstaUltra v0.9.7.25 A (instagram base v100.0.0.17.129) developed by Sommer Damous.

[2019-11-10 13:44] ayush7gl commented on #110
@iHelp101 thanks for update. Everything working with v118. Update hooks to github, i think they stable now.

[2019-11-14 19:20] lol7344 commented on #114
you have to use the original instagram version. why are you even using a modded version with an xposed module to add the exactly same features? chose which one you want and stick to it.

[2019-11-14 20:03] lol7344 commented on #112
I used the "nodpi" version (build 177770652) and it works flawlessly.

**Instagram: 115.0.0.26.111
Build: 177770652
Arch: armeabi-v7a**

Download Link: https://www.apkmirror.com/apk/instagram/instagram-instagram/instagram-instagram-115-0-0-26-111-release/instagram-115-0-0-26-111-android-apk-download/

[2019-11-14 20:05] lol7344 commented on #111
**Latest working version:**

Instagram: **115.0.0.26.111**
Build: **177770652**
Arch: armeabi-v7a

 I used the "nodpi" version (build 177770652) and it works flawlessly.
Just remember to open XInsta and tap "Update Hooks" from GitHub, then reboot your phone.

Download Link: https://www.apkmirror.com/apk/instagram/instagram-instagram/instagram-instagram-115-0-0-26-111-release/instagram-115-0-0-26-1

[2019-11-14 21:19] lol7344 opened #115 "Direct Messages problem"
Hi. Thanks for the awesome Xposed module. I've been using it for years as my main Instagram add-on, and I have recently discovered a probably known problem: images and videos sent privately in DM are not downloaded nor handled in any way.
I noticed this issue started appearing after Instagram v. **91.0.0.18.118**, build **1523675**.
I then went to look at the public Hooks.txt file in this GitHub r

[2019-11-14 21:20] lol7344 commented on #105
@jizzy002 Just out of curiosity - what are you using right now then? I am unable to find any working and updated enough version of Instagram that has photo/video download capabilities.

[2019-11-14 21:26] lol7344 commented on #113
Hooks are strings that change with every version of Instagram because they try to stop projects like this, making them unable to find the correct classes and methods to modify (hook to). They are literally the name of the classes and methods, but completely random generated.
So with a new version of IG, the same old class for "posts feed" has a different name (eg X.4nV, Z.3y7, etc).
You don't have

[2019-11-14 22:11] iHelp101 commented on #115
I am driving home from work and will work on this.

[2019-11-14 22:48] iHelp101 commented on #115
I found the error. I am looking into this hook issue.

Direct Private Download Failed - java.lang.NoSuchFieldError: Field of type X.2az in class X.19H

[2019-11-14 22:58] iHelp101 commented on #115
It looks like Instagram puts the 2az field (Changed every update) in another classes. I am working on a fixed APK.

19H -> DirectVisualMessageViewerController -> 2az

[2019-11-14 23:56] Poet145 commented on #111
OnePlus 6T

IG: **118.0.0.28.122**
Build: **181496429**
Arch: **arm64-v8a**

I'm using the 360-480DPI version and the hooks from **Pastebin** have been working for downloads, story privacy, stories timer, etc. I don't really use any other functions of XInsta so I can't be sure, but the parts I use are working for me.

[2019-11-15 06:55] dr-kaisar commented on #114
In InstaULTRA, a modded version of instagram there are some unique features. Can those features be added in the stock instagram app through XInsta module? The features are -

1. Follow indicator: If a person follows you, in his/her profile there is written "Follows You" above the message option. This is one of the most important features.

2. Start video with sound: Option to turn on/off - start v

[2019-11-15 06:57] dr-kaisar opened #116 "Suggestions about XInsta"
In InstaULTRA, a modded version of instagram there are some unique features. Can those features be added in the stock instagram app through XInsta module? The features are -

1. Follow indicator: If a person follows you, in his/her profile there is written "Follows You" above the message option. This is one of the most important features.

2. Start video with sound: Option to turn on/off - start v

[2019-11-15 16:28] Teknosrp commented on #111
I tried this version and xinsta still refuses to work. I have updated hooks and rebooted the phone after installing. Error log is attached as it is quite long.
[Error.txt](https://github.com/iHelp101/XInsta/files/3852335/Error.txt)

[2019-11-16 09:58] ayush7gl commented on #110
@iHelp101 follow indicator color not working with v118

[2019-11-16 18:36] lol7344 commented on #116
The first "suggestion" is already integrated in Xinsta. The person's "following" number will get colored blue if he/she follows you, otherwise it'll stay black.

[2019-11-16 18:38] lol7344 commented on #114
Why did you reply here and also open a new issue (#116) saying the same thing? This is not even an issue, just a plain fetaure request.

[2019-11-16 18:42] dr-kaisar commented on #114
I'm sorry. Actually I'm a bit new here. How can I request for a new feature?
Sorry again for my ignoranc!

[2019-11-16 18:49] lol7344 commented on #115
**That's great news! Thank you.**

_I would have happily looked into the code and tried fixing it myself, then making a new pull request - but I was soon overwhelmed by the lack of comments in the code :(
I humbly suggest you start using them - for future's sake. You may get busier in life or tired of the project, but someone else may be happy to work on it and keep it up to date! Not mentioning t

[2019-11-16 18:55] lol7344 commented on #111
That's really weird. Have you tried the build version suggested by @Poet145 then? (181496429, v118.0.0.28.122)

[2019-11-16 19:08] lol7344 commented on #114
It is generally correct to request new features in the issue tracker - what I think is not, is writing about it wherever you can. Either open a new issue or write it as a reply to an issue you already have opened :)

I'm not the owner nor the dev of this project so I can't say how he prefers to have new features requested, and I also don't blame you for being new - everyone's gotta learn! Although

[2019-11-16 20:11] dr-kaisar commented on #114
In stock Instagram also "Disable Discovery" option is not working for me.

I have opened XInsta and tap "Update Hooks" from GitHub, then rebooted my phone.

Instagram: 115.0.0.26.111
Build: 177770652
Arch: armeabi-v7a

[2019-11-16 22:47] iHelp101 commented on #115
I will work on commenting the code. Regarding the hooks issue. Please update your hooks and then provide me an error log. That way I can see which version code you have and what hook it is actually fetching. When you open Instagram XInsta does a hook check to see if your hooks need updated. That is why you are seeing hooks updates on their own. I think the issue might be related to ARM64 version c

[2019-11-16 22:48] iHelp101 commented on #116
1 and 5 are integrated into XInsta. I am working on fixing 1 due to some API changes Instagram made. XInsta had option 2, but it caused crashing for certain devices and was scrapped. I will look into re-integrating it. 3 and 4 should be simple. I will look into them.

[2019-11-16 22:50] iHelp101 commented on #114
Instagram changed the discovery class in recent updates with an obfuscated class. I am working on fixed the new class.

[2019-11-17 00:26] iHelp101 commented on #114
The new class was found. I am working on pushing some updated hooks soon.

[2019-11-17 04:03] iHelp101 commented on #114
The hooks have been pushed for the latest stable versions of Instagram.

[2019-11-17 04:35] dr-kaisar commented on #114
"Disable Discovery" still not working for me. Neither with v115 nor with the latest v119. I have updated hook & rebooted my device.

[2019-11-17 21:50] iHelp101 commented on #114
Open XInsta -> Click Pastebin and restart Instagram. Some hooks may have some issues. Instagram changes their ARM64 APK's packaging, which is causing issues decompiling.

[2019-11-18 02:55] ayush7gl commented on #110
@iHelp101 hooks are not working with Instagram v119 from pastebin.

20191118_081244 - XInsta Initialized
20191118_081244 - Instagram Version Code: 182747372
20191118_081244 - Device Codename: POCO F1
20191118_081244 - Android Version: 9.0
20191118_081244 - XInsta Version 2.1.1
20191118_081245 - Last
20191118_081245 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
2019

[2019-11-18 03:14] iHelp101 commented on #110
I am looking into this. Instagram updated something about their ARM64 APK's and they are tricky to decompile. I found a method, but it seems that the classes decompiled are possibly inaccurate names.

[2019-11-18 04:45] dr-kaisar commented on #114
This also didn't work for me. I am posting the error log below. Can you check please?

[2019-11-18 04:45] dr-kaisar commented on #114
20191118_104019 - XInsta Initialized
20191118_104019 - Instagram Version Code: 182747372
20191118_104019 - Device Codename: SM-G955F
20191118_104019 - Android Version: 8.0.0
20191118_104019 - XInsta Version 2.1.1
20191118_104020 - Last
20191118_104020 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20191118_104020 - Comment Class: X.3KZ
20191118_104020 - Date Failed2

[2019-11-18 16:11] Teknosrp commented on #115
@iHelp101 My device is an ARM32 one, it has a MT6580 SoC.

[2019-11-19 18:22] ayush7gl commented on #110
@iHelp101 there was an update yesterday, but that also didn't work. Found any solution yet?

[2019-11-20 00:42] iHelp101 commented on #110
@ayush7gl I pushed some updated hooks for the latest versions. Please try them out.

[2019-11-20 02:17] ayush7gl commented on #110
@iHelp101 thanks for update. Download works
Video like count, Follow indicator, Story privacy and profile pic zoom doesn't work

20191119_222503 - XInsta Initialized
20191119_222503 - Instagram Version Code: 182747397
20191119_222503 - Device Codename: POCO F1
20191119_222503 - Android Version: 9.0
20191119_222503 - XInsta Version 2.1.1
20191119_222504 - Dialog Hook Failed: java.lang.ArrayIndexOut

[2019-11-20 02:28] iHelp101 commented on #110
@ayush7gl I fixed follow indicator and stories privacy. The other two require APK updates that I am working on.

[2019-11-20 02:46] ayush7gl commented on #110
@iHelp101 thanks, working now. In new apk please find a fix for disable search history. On disabling search history if i search any username it doesn't show.

[2019-11-20 20:12] skirol commented on #110
@iHelp101
could you also take a look at these issues: https://github.com/iHelp101/XInsta/issues/110#issuecomment-549029231

disable like button still won't work on carousel posts with updated hooks.
thanks.

[2019-11-20 22:57] iHelp101 commented on #110
I will look into the carousel like hook. It is a difficult hook to track since it has nothing unique about it, so you are just looking through 40,000 files trying to find an onTouchEvent.

[2019-11-20 23:31] iHelp101 commented on #110
I updated the Pastebin hooks for the 1839829 (Normal and ARM64 version) to resolve the carousel like button issue. Please test this when you have a chance.

[2019-11-21 11:13] skirol commented on #110
all is good now. the carousel like button is fixed. thank you.

[2019-11-29 10:46] SafiXS opened #118 "Andoid 10 incompatible?"
Yesterday I've got the update to emui 10 Android 10.
Before that update everything worked as it should but after that not at all.
Emui 10
TaiChi 5.5.8
XInsta 2.1.1
Instagram several versions reported that work on xda
no root

Is XInsta not compatible with Android 10 right now or is the problem somewhere else?

[2019-11-29 12:41] iHelp101 commented on #118
I have reached out to the TaiChi developer multiple times Nf never gotten a response sadly. TaiChi does not have any error logs or easy way of debugging that I can find. Without that I am unable to find the issue occuring. This does appear to only affect Android 10.

[2019-11-29 15:39] SafiXS commented on #118
When I could do something for you, tell me please

[2019-11-29 15:41] SafiXS commented on #118
20191129_090139 - XInsta Initialized
20191129_090139 - Instagram Version Code: 177770729
20191129_090139 - Device Codename: VOG-L29
20191129_090139 - Android Version: 10
20191129_090139 - XInsta Version 2.1.0
20191129_090140 - Hooks Fetched!
20191129_090140 - Comment Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20191129_090140 - Comment Class: X.3Rm
20191129_090140 - Dialog

[2019-11-29 15:43] SafiXS commented on #118
The only error logs I've got, with 2.1.1 I don't have anyone

[2019-11-30 15:33] hackills opened #119 "Samsung - Oreo - Xposed - 181496433"
Does not seem to work for me anymore. Maybe the log would help in identifying the problem.

Starting Xposed version 90.2-beta3 (Systemless), compiled for SDK 26
Device: SM-G930F (samsung), Android version 8.0.0 (SDK 26)
ROM: ALEXNDR.G930FXXS6ESJ2
Platform: arm64-v8a, 64-bit binary, system server: yes
SELinux enabled: yes, enforcing: yes
-----------------
Added Xposed (/system/framework/XposedBridg

[2019-12-01 14:57] #112 closed

[2019-12-01 14:58] iHelp101 opened #120 "Dialog Hook"
Instagram moved the stories three dot icon menu to a new dialog. This is similar to the dialog used when you long press something in the explore tab. This is affecting version codes 1852036 and up.

[2019-12-01 15:07] iHelp101 commented on #120
It is actually a class that is similar and not related to the explore tab. It is class X.0pU. A new APK will be needed to address these changes.

[2019-12-01 17:08] ayush7gl commented on #110
@iHelp101 thanks for update, follower indicator doesn't work, profile pic zoom doesn't work

20191201_223449 - XInsta Initialized
20191201_223449 - Instagram Version Code: 185203705
20191201_223449 - Device Codename: POCO F1
20191201_223449 - Android Version: 9.0
20191201_223449 - XInsta Version 2.1.1
20191201_223449 - Direct OnClick Dialog Failed - java.lang.ArrayIndexOutOfBoundsException: length

[2019-12-01 17:52] iHelp101 commented on #110
Pastebin hooks have been updated. I am still working on the profile zoom issue. Instagram changed to a new ImageView class, which is causing issues.

[2019-12-02 01:56] ayush7gl commented on #110
@iHelp101 story download not working (no download button)
20191201_223449 - XInsta Initialized
20191201_223449 - Instagram Version Code: 185203705
20191201_223449 - Device Codename: POCO F1
20191201_223449 - Android Version: 9.0
20191201_223449 - XInsta Version 2.1.1
20191201_223449 - Direct OnClick Dialog Failed - java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
20191201_223449 - Pin P

[2019-12-05 00:35] iHelp101 commented on #120
Fixed in latest APK and hooks.

[2019-12-05 00:35] #120 closed

[2019-12-20 11:50] ayush7gl commented on #110
@iHelp101 story download not working (no save option) with instagram v123 arm64 and it not working with 122 and 121 also. Please check

[2019-12-20 12:19] iHelp101 commented on #110
Here is a new APK. I am trying to get XInsta stable enough to push out a new official APK, but every time I fix one thing Instagram breaks another. This also fixes search privacy.

https://drive.google.com/file/d/1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa/view?usp=drivesdk

[2019-12-20 13:03] ayush7gl commented on #110
@iHelp101 thanks for the update, story download now workd. please find a fix for profile pic zoom.

[2019-12-21 02:25] iHelp101 commented on #110
Profile picture zoom is fixed in this APK (Same URL, but new APK). Instagram is hiding true HD profile icons. I am looking for a work around. My current fix gets resolution from 150x150 to 320x320. I know they store them in 1080x1080 I just need to find an unofficial API that works reliably.

https://drive.google.com/open?id=1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa

[2019-12-23 14:04] OmerMadden commented on #118
https://github.com/taichi-framework/TaiChi/issues/1035

[2019-12-26 16:40] ayush7gl commented on #110
@iHelp101 on the above same link, i think there's a new apk? What's new in that?

[2019-12-31 08:27] hamedsbt opened #121 "It seem you update code, can you release apk here please?!"
Release apk here please...

[2019-12-31 14:08] iHelp101 commented on #121
If you would like to use the test APK it is linked below. I am trying to resolve video likes and profile icon issues before releasing a stable APK.

https://drive.google.com/file/d/1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa/view?usp=drivesdk

[2020-01-10 13:50] exodius48 commented on #121
Im using this version along IG 123.0.0.21.114 build 188791674 https://www.apkmirror.com/apk/instagram/instagram-instagram/instagram-instagram-123-0-0-21-114-release/instagram-123-0-0-21-114-android-apk-download/

On my Poco F1 Android 10. Download button disappear. Updated hooks via pastebin.

[2020-01-19 19:04] #109 closed

[2020-01-19 19:06] iHelp101 opened #122 "New Dialogs (Three Dot Icon Click)"
Instagram is moving to a new dialog. Instead of the traditional Charsequence Array they are moving to a List Array. The onClick that tracks the option choose is similar. Find a way to inject into the list to add the download option.

[2020-01-19 19:12] iHelp101 commented on #122
I am working on this for version code 1929925.

[2020-01-19 19:36] iHelp101 commented on #122
The List Array is of pairs. I am injecting download into said pair.

Feed - Affected (Inject - 22C, onClick - 4ml)
Mini Feed - Affected (Hard Coded List)
Profile Icons - (Inject - 2e8, onClick - 4ep)
Stories - Not Affected

[2020-01-19 19:37] iHelp101 commented on #122
I am also seeing into with the stories timer. It was originally nest class using com.facebook.video.heroplayer.service.HeroService$Stub$Proxy. I am looking into how to hook back in.

[2020-01-19 19:45] iHelp101 commented on #122
Stories timer fixed. The new class is com.facebook.video.heroplayer.ipc.HeroPlayerServiceApi$Stub.

[2020-01-19 19:54] iHelp101 commented on #122
Feed - Affected (Inject - 22C, onClick - 4ml)
Mini Feed - Affected (Hard Coded List)
Profile Icons - (Inject - 2e8, onClick - 4ep)
Stories - Not Affected
TV - Not Affected

[2020-02-05 03:06] ayush7gl commented on #110
@iHelp101 thanks for update

02-04 08:42:45.685 21143 21143 I EdXposed-Bridge: XInsta - XInsta Initialized
02-04 08:42:45.693 21143 21143 I EdXposed-Bridge: XInsta - Instagram Version Code: 195435525
02-04 08:42:45.696 21143 21143 I EdXposed-Bridge: XInsta - Device Codename: XT1681
02-04 08:42:45.705 21143 21143 I EdXposed-Bridge: XInsta - Android Version: 9
02-04 08:42:45.711 21143 21143 I EdXpos

[2020-02-05 03:12] iHelp101 commented on #122
Resolved all issues. I am hoping for a stable release soon.

[2020-02-05 03:12] #122 closed

[2020-02-05 03:16] iHelp101 commented on #110
I am looking into this. It appears the ARM64 hooks are having issues. I am starting to worry Instagram is making the hooks different for the DPI versions.

[2020-02-05 03:38] iHelp101 commented on #110
Yes, Instagram is shifting towards different obfraustation across all APK types (ARM64, ARMv7, x84, and DPI). I am trying to think of a solution. Each update will have 4+ different hooks. For now, here is the version the current hooks are based upon.

https://www.apkmirror.com/apk/instagram/instagram-instagram/instagram-instagram-126-0-0-25-121-release/instagram-126-0-0-25-121-android-apk-download

[2020-02-06 04:55] ayush7gl commented on #110
@iHelp101 only story downloading working with the instagram app you shared above.

[2020-02-06 04:58] Poet145 commented on #110
Yes. I agree with @ayush7gl. Downloads do not work. Menu shows, and it's selectable, but once Download selected nothing happens...menu closes.

[2020-02-06 23:34] iHelp101 commented on #110
Please try this XInsta update. I see you have one of the newer APK's for the new feed dialogs, but I wonder if you have one of the versions that didn't handle order correctly.

https://drive.google.com/open?id=1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa

[2020-02-07 17:28] Poet145 commented on #110
Thanks. This APK works and I've received no issues. Thank you!

[2020-02-13 03:08] ayush7gl commented on #110
20200212_154037 - XInsta Initialized 20200212_154037 - Instagram Version Code: 197825260 20200212_154037 - Device Codename: ONEPLUS A5010 20200212_154037 - Android Version: 8.1.0 20200212_154037 - XInsta Version 2.2.0 20200212_154037 - --------------------------- 20200212_154037 - XInsta Initialized 20200212_154037 - Instagram Version Code: 197825260 20200212_154037 - Device Codename: ONEPLUS A501

[2020-02-13 03:22] iHelp101 commented on #110
Instagram is very tricky with these username hooks now. I pushed an update to Pastebin. Please update your hooks manually from Pastebin (Opeen XInsta -> Click Pastebin) and see if that resolves this issue.

[2020-02-23 16:38] oops123456 opened #123 "help to find crait ver instagram"
frist thank u about good apk work.

The version 19932599 was not found. I downloaded version 129.0.0.29.119 and did not work on it.

help me sr.

[2020-02-23 17:38] iHelp101 commented on #123
Can you provide your error log?

[2020-02-24 00:13] oops123456 commented on #123
٢٠٢٠٠٢٢٤_٠٢١٣٢٩ - XInsta Initialized
٢٠٢٠٠٢٢٤_٠٢١٣٢٩ - Instagram Version Code: 199325890
٢٠٢٠٠٢٢٤_٠٢١٣٢٩ - Device Codename: SM-N960F
٢٠٢٠٠٢٢٤_٠٢١٣٢٩ - Android Version: 9
٢٠٢٠٠٢٢٤_٠٢١٣٢٩ - XInsta Version 2.1.0
٢٠٢٠٠٢٢٤_٠٢١٣٣٠ - Dialog Hook Failed: java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
٢٠٢٠٠٢٢٤_٠٢١٣٣٠ - Dialog Hook Class: X.1Qp
٢٠٢٠٠٢٢٤_٠٢١٣٣٠ - Direct OnClick Dialog Failed - j

[2020-02-24 20:59] oops123456 commented on #123
hi
i will weiting u sr.

[2020-02-25 02:03] iHelp101 commented on #123
Please try this APK. This is the latest test APK that should fix your issue.

https://drive.google.com/open?id=1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa

[2020-02-25 03:24] oops123456 commented on #123
Thank u bro its work.

[2020-03-25 19:15] marcosfiniano commented on #68
Hola,

Acabo de firmar la petición de "Samsung: Stop selling us inferior Exynos
phones!" y me encantaría que me ayudaras sumando tu firma.

Nuestro objetivo es llegar a 35,000 firmas y necesitamos más apoyo. Para
obtener más información y firmar la petición puedes abrir el siguiente link:

http://chng.it/LsLhQxKNhJ

¡Gracias!
Marcos

[2020-05-04 07:13] forliuyifei commented on #108
![Screenshot_20200504-141108](https://user-images.githubusercontent.com/53306807/80943399-b1690d80-8e19-11ea-9ab1-d164ad34b3bb.jpg)
请问为什么一个木函下载的照片就更大更清晰呢？

[2020-05-04 07:18] forliuyifei commented on #108
It's not available now either 😭
https://www.coolapk.com/apk/com.One.WoodenLetter
![Screenshot_20200504-151505](https://user-images.githubusercontent.com/53306807/80943660-4ec44180-8e1a-11ea-9b60-dba4cda84c31.jpg)
I try another app to download the higher quality pictures from Instagram

[2020-06-15 17:54] mywalkb commented on #111
Could you update hooks for version 145.0.0.32.119 versionCode 219308763?
I tried with experimental hooks but doen't works.

[2020-06-16 00:07] iHelp101 commented on #111
@mywalkb I updated the hooks for this version via Pastebin. Please give them a try. I wait a few hours to test the hooks to verify they are in working order before pushing them to GitHub.

[2020-06-16 04:16] mywalkb commented on #111
@iHelp101 thank you for your work, but I have an error

    20200614_205112 - XInsta Initialized
    20200614_205112 - Instagram Version Code: 219308763
    20200614_205112 - Device Codename: LG-H850
    20200614_205112 - Android Version: 8.0.0
    20200614_205112 - XInsta Version 2.1.0
    20200616_060548 - Hooks Parse Failed - java.lang.ArrayIndexOutOfBoundsException: length=1; index=1

[2020-06-16 04:27] mywalkb opened #125 "Alternate source is not valid"
The link of "Alternate source" is not valid, I think it can be removed.

[2020-06-18 04:14] mywalkb commented on #111
@iHelp101 could you update hooks for version 146.0.0.27.125 version 221134037? I updated erroneously.

[2020-06-19 18:30] mywalkb commented on #111
@iHelp101 thank you for your update. I have an issue, I have instagram arm64 but when I fetch the hooks, in hooks.txt I have the version 2211340 and not 22113409 for arm64. In Errors.txt I have no error. I tried to uninstall and reinstall but continue to load the version 2211340.

[2020-06-19 23:27] iHelp101 commented on #111
@mywalkb Please try this APK. There were some issues with ARM64 detection that this APK should resolve.

https://drive.google.com/file/d/1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa/view?usp=sharing

[2020-06-20 12:19] mywalkb commented on #111
@iHelp101 new apk works, detect arm64 correctly but the hooks doesn't works.
I have some functions enabled as "disable like button" "hide sponsor" "story privacy", but none of this function works.
In Errors.txt there is no errors. In logcat I can see this:

[code]

xinsta is running on edxposed 0.4.6.2. Android 8.0

[2020-06-22 04:45] miaachan commented on #111
Hi dev, story's video is downloaded as photo in 146.0.0.27.125 arm64 version.

[2020-06-22 18:01] mywalkb commented on #111
@miaachan which is your environment? For you apk 2.2.0 and hooks for 146.0.0.27.125 arm64 are working? I have Android 8.0 and edxposed 0.4.6.2 but xinsta has no functions working.

[2020-06-25 18:36] almajroh opened #126 "Bro Help faild Download DM"
Hi bro.

Thanx u frist about this tools. really very nice tool.
i have some Err for download DM .

[2020-06-26 19:05] mywalkb opened #127 "Story Privacy doesn't work in latest versions of Instagram"
I'm testing the latest hooks. I developed a simple module xposed only for function Story Privacy.
I tested the version 145.0.0.32.119, 146.0.0.27.125 and 147.0.0.42.124 (for this version I found the class X.360).
This is the code that should not be invoked:

[code]
but also if the code is not invoked the story is marked as seen.
Which version of Instagram has the story privacy working?

[2020-06-26 22:24] iHelp101 commented on #127
This setting makes it so Instagram does not report back to the story poster that you have seen the story. Your username will not be under the seen/viewers section of the poster's story.

[2020-06-27 06:37] mywalkb commented on #127
Sorry my fault. I have developed some scripts php with famous project which use internal instagram's api, now removed.
With these scripts you can take info of stories for view them and mark as seen, if you want. I've always thought, seen = notification.
So you can see the story, mark as seen and if you want notification to the user you seen.
Sponsors are not hidden in the last two versions and I c

[2020-06-27 15:45] mywalkb commented on #111
@iHelp101 could post hooks for version 147.0.0.42.124 version code 225283634? I'm analizing because sponsor post is not hidden. With my simple module story privacy is working but I don't know if work with xinsta.
When I will find a working version I stop to update instagram.
Or better could you update your tool for extract hooks from apk?

[2020-06-27 20:14] iHelp101 commented on #111
@mywalkb I just pushed an update. I see an issue that might have occurred with one of the sponsored hooks. Instagram has two sponsored style post. The first is considered injected and the other is sponsor_tags. Instagram removed a lot of the strings from code so identifying the fields has been tricky since the fields is just a boolean.

[2020-06-27 20:15] iHelp101 commented on #126
I found the cause of this. I will be releasing an APK update tomorrow, which will address this issue.

[2020-06-28 08:10] mywalkb commented on #111
@iHelp101 thank you also for this update. With version 2.2.0 the hooks for story privacy doesn't works and also other function as sponsored post.
Sure the hook is correct because in my simple module where I use this code

    XposedHelpers.findAndHookMethod(clsStoryTimer, clsStoryTimer.getMethods()[0].getName(), XC_MethodReplacement.DO_NOTHING);

story privacy is good. You find the same STORY_VIEW

[2020-06-28 08:49] #127 closed

[2020-06-28 14:17] iHelp101 commented on #111
@mywalkb Do downloads now work? Can you provide your error log? If you want we can discuss this easier via email. My emails is william@ihelp101.com. It might be quicker and easier to locate the issue via email.

[2020-07-01 06:15] almajroh commented on #126
Thank you bro . i will wait you :+1:

[2020-08-04 21:44] Adityashaw opened #128 "No download option in stories."
I don't know if it's a bug or feature request but I am not finding download button for stories.
Download works for posts and profile picture beautifully.
Is there something that prevents downloading of stories?

[2020-08-04 21:46] iHelp101 commented on #128
Can you provide your XInsta error log? Or your Instagram version?

[2020-08-05 08:31] Adityashaw commented on #128
I have copied first 119 lines from the Error Log since it is very long and seems redundant. Please tell if you need the whole file.
[code]

My Instagram Version is `122.0.0.29.238`.

[2020-08-07 23:04] iHelp101 commented on #128
@Adityashaw I just pushed a hook update for this version. Please open XInsta -> Click GitHub and reboot.

[2020-08-08 10:01] Adityashaw commented on #128
It works!
I don't know how you do such wonders but thanks a lot for such a speedy response ! ❣️

[2020-08-08 10:01] #128 closed

[2020-08-23 11:06] VarunS2002 opened #129 "Nothing works unfortunately. Am I using a wrong version? Error log attached"
[Error.txt](https://github.com/iHelp101/XInsta/files/5113855/Error.txt)

[2020-08-23 21:51] iHelp101 commented on #129
@ayush7gl Fixed the two hooks issues. I am looking into the profile icon issue. Instagram keeps changing the class this icon uses.

[2020-08-24 01:41] ayush7gl commented on #129
@iHelp101 ads first show then disappear, story ads still showing. Story timer bug fixed

20200824_055212 - XInsta Initialized
20200824_055212 - Instagram Version Code: 239490565
20200824_055212 - Device Codename: POCOPHONE F1
20200824_055212 - Android Version: 10.0
20200824_055212 - XInsta Version 2.2.0
20200824_055212 - Mini Feed OnClick Failed - java.lang.ArrayIndexOutOfBoundsException: length=0

[2020-08-24 08:41] VarunS2002 commented on #129
Keep up the good work man all the best. But can you please tell me the exact version number of instagram which works because latest version differs by country some times on play store

[2020-08-24 10:19] ayush7gl commented on #129
https://www.apkmirror.com/apk/instagram/instagram-instagram/instagram-instagram-155-0-0-37-107-release/

This is the latest version supported. You can also follow xda page to know about update and supported versions

https://forum.xda-developers.com/xposed/modules/mod-xinsta-download-images-videos-t3077110/page675

[2020-08-26 14:13] VarunS2002 commented on #129
Thank you very much. A suggestion to add a label for specifying the supported instagram version in the app or in the first line of hooks.txt.

[2020-08-26 14:13] #129 closed

[2020-08-26 18:57] VarunS2002 commented on #126
[Error.txt](https://github.com/iHelp101/XInsta/files/5131745/Error.txt)
Downloading dm stills fails.
Also where do I get the latest apk release/sources of xinsta?

[2020-09-08 09:51] Shivelight opened #130 "What makes the latest APK 1100% bigger in size?"
I notice the latest APK 5d6dd9c3a5415fc25ba4f638c3dd67b461438879 is so big compared to older release. How is this?

EDIT: Title. More accurate percentage lol

[2020-09-08 11:26] iHelp101 commented on #130
This was a update to live stories and muxing. Live Stories require the audio and video to be combined, which I originally used mp4parser for. The library had some reliability issues so I moved to FFMPEG, which sadly is quite a big library even when using the minimal build.

[2020-09-08 11:43] Shivelight commented on #130
I actually notice the FFMPEG library after posting this issue but still don't know what it is for since the last code update was few months ago. So that means we can download live stories? That's new to me.

As a feedback, the latest APK is more stable and almost everything I need works correctly except the disable story timer option which keep crashing instagram everytime I open a story. I'm usin

[2020-09-08 21:54] iHelp101 commented on #130
You can download Live Stories once they are posted to a user's story. So in theory they are no longer live, but they still follow the same elements of an XML file with contents that need to be muxed. I am looking at the story timer crash now.

[2020-09-08 22:08] iHelp101 commented on #130
I updated the hooks to fix this crash. Please open XInsta -> Click Pastebin or GitHub and reboot. Thank you.

[2020-09-17 13:42] Shivelight commented on #130
Thank you 👍

[2020-09-17 13:42] #130 closed

[2020-09-17 18:50] hundertzwoelf commented on #111
Hi, I recently updated to xinsta 2.2.1 and it completely broke for me. Which IG versions do currently work for you guys?

[2020-09-17 21:33] iHelp101 commented on #111
Good to hear. This is a bug with Xposed where it doesn't realize the APK updated and loses its location.

[2020-09-19 23:40] RiadReyBouazza opened #131 "No updates ?"
Hello kind sir, I noticed that this module isn't officially getting any update, I managed to hunt some test apk links from issues in the past but I'm not finding anything now.
Can you please tell me how to get updates ? Thanks a lot.

[2020-09-19 23:43] RiadReyBouazza commented on #131
EDIT : the in-app update didn't show up for me in a long time, and I always doubted that it provided the actual latest. Hence why this " issue " is opened. I'd love to get testing apks. Thank you.

[2020-09-20 05:04] iHelp101 commented on #131
The latest APK is on GitHub (XInsta.apk). Regarding the update check do you have any issues on your network with GitHub? XInsta checks the Version.txt file to see if a new version is out. It is a very simple process done.

[2020-09-20 05:49] RiadReyBouazza commented on #131
Thanks for the reply. All I was saying is that everytime I try the apk it doesn't work, so I thought maybe the update check isn't giving me the latest apk and that I have to do it manually. Is this a valid concern or no ?

[2020-09-20 17:54] iHelp101 commented on #131
Yes, does it downloads the APK? And then the installation fails? Or it never shows the new APK? Is there any chance you can provide a screenshot recording on this process? I want to verify for sure where it is failing

[2020-09-20 17:56] RiadReyBouazza commented on #131
No it's not that zerio

[2020-09-20 17:59] RiadReyBouazza commented on #131
No it's not that serious ! If that is what you thought then sorry for wasting your time.
The story is that I was stuck on version 2.1.0 which never showed me there was an update . Till one day I decided to come here to the github issues and look for answers. That's where I found you linked some person a test apk and I downloaded to use it and it worked ! So from that day I had this doubt that : do

[2020-09-20 18:20] iHelp101 commented on #131
No problem, I wanted to see if the auto-updater was having issues. The automatic updater should work. I did take a while to release the last update, so it was only available via the test URL (Google Drive). I am working on updating the module more often to fix bugs. Currently, I am working on a new automatic hook finder.

[2020-09-20 18:24] RiadReyBouazza commented on #131
That Would be amazing ! I think nothing works for me rn with latest stable instagram release. So that would be a game changer. Thanks a lot and keep up the great work !

[2020-09-22 06:02] VARAA2 commented on #111
**### PERFECTLY WORKING VERSION**

Instagram Version : 152.0.0.25.117
Xinsta Version : 2.2.1
with updated Hooks

_Oneplus 5T | Nougat_

[2020-09-22 06:06] VARAA2 commented on #111
### PERFECTLY WORKING VERSION

Instagram Version : **152.0.0.25.117**
Xinsta Version : **2.2.1**
with **updated Hooks**

_Oneplus 5T | Nougat_

[2020-09-22 06:10] VARAA2 commented on #123
### PERFECTLY WORKING VERSION
Instagram Version : **152.0.0.25.117**
Xinsta Version : **2.2.1**
with **updated Hooks**

_Oneplus 5T | Nougat_

[2020-09-22 07:05] hundertzwoelf commented on #111
Thank you for your reply. Several things do **not** work for me on IG 152.0.0.25.117 like disabling stories-timer, custom timestamps, high quality profile picture download (does this work at all anymore?) and hold to view profile picture. Downloads work just fine though!

I'm using a OnePlus 6 running Android 10.

[2020-09-23 12:38] VARAA2 commented on #111
PERFECTLY WORKING VERSION
Instagram Version : 152.0.0.25.117
Xinsta Version : 2.2.1
with updated Hooks

Oneplus 5T | Nougat

[2020-09-26 22:53] franchixco opened #132 "Download post/stories broken after server-side update on instagram 155.0.0.37"
this week a server side update (same apk version) broke download posts, causing app crashing. Also download option on instagram stories has missing after UI changes. Xinsta version 2.2.1. Instagram version 155.0.0.37
![22](https://user-images.githubusercontent.com/6779013/94351658-b0878100-0031-11eb-9977-480aecd8f383.gif)
![11](https://user-images.githubusercontent.com/6779013/94351662-b2514480-00

[2020-09-26 23:13] franchixco commented on #132
This issue also affects latest hook update on instagram 159.0.0.40

[2020-09-26 23:41] iHelp101 commented on #132
The UI change appears to be the same as Reels, which I am trying to find the hook for. I am also looking into this crashing issues. I am on a weekend trip and will be back home in the morning where I will test this further and work on a fix.

[2020-09-29 00:36] iHelp101 commented on #132
Can you provide a logcat of this crash? I can't replicate it. I also can't seem to force the new stories UI yet. I have tried a few devices and different accounts, but no luck yet.

[2020-09-30 13:39] franchixco commented on #132
[logcat_09-30-2020_10-36-20.txt](https://github.com/iHelp101/XInsta/files/5305891/logcat_09-30-2020_10-36-20.txt)

[2020-10-01 00:04] iHelp101 commented on #125
It has been removed in the latest APK.

[2020-10-01 00:04] #125 closed

[2020-10-01 00:05] #123 closed

[2020-10-01 00:05] #113 closed

[2020-10-01 00:06] #121 closed

[2020-10-02 02:34] iHelp101 commented on #132
Can you try this APK for me? Also, please update your hooks from Pastebin (Testing a new hook). I am working on stories still. Instagram is hiding these lists quite well, so I can't inject the download button.

https://drive.google.com/file/d/1MaBKcm6mFVimvo4ROgoR3pv59DYOfECa/view?usp=sharing

[2020-10-09 18:45] franchixco commented on #132
Sorry for delay. After trying the apk nothing changed. Using pastebin hooks

[2020-10-10 01:31] iHelp101 commented on #132
Can you attach your error log? I want to make sure Xposed truly took effect with the new hooks. Thank you.

[2020-10-12 14:22] shadow443 opened #133 "Broken push notifications"
Hi, I recently had trouble downloading push notifications. Apparently it happens when there are 2 accounts connected in the Instagram application. With 1 account the notifications are downloaded correctly.

- It seems that it is because the user in the notification bar appears in parentheses (user).
- I use the latest version of xinsta 2.2.1 / IG v98.0.0.15.119 and also test 127.0.0.30.121
- Attac

[2020-10-12 23:44] iHelp101 commented on #133
I am looking into this now. This is due to how XInsta parses for the username in the notification's JSON.

[2020-10-14 11:50] iHelp101 opened #134 "Pastebin Hooks"
The Pastebin hooks have been removed.

[2020-10-14 11:51] iHelp101 commented on #134
Hello,

It may have been removed due to a false positive.

We are aware of the false positive issue, the system is currently paused for any users that are logged in. We are working on a solution to resolve this problem.

Please accept our apologies.

Thanks,
The Pastebin Team!

Pastebin.com Twitter | Facebook

CONFIDENTIALITY NOTICE:
The contents of this email message and any attachments are inten

[2020-10-15 16:56] iHelp101 commented on #134
Hello,

Unfortunately the pastes that have been removed are not recoverable.

For the time being, we have paused the auto removal process for users that post while logged in to help minimize the chances of this happening again.

In the meanwhile we're actively working on a solution to prevent a repeat situation.

Please accept our sincere apologies!

Thanks,
The Pastebin Team!

Pastebin.com Twitte

[2020-10-16 02:43] iHelp101 commented on #133
Please try this Alpha APK.

https://github.com/iHelp101/XInsta/blob/master/XInsta-Alpha.apk

[2020-10-16 02:43] iHelp101 commented on #134
Pastebin removed for now.

[2020-10-16 02:43] #134 closed

[2020-10-17 07:43] null-device opened #135 "Alpha version feedback"
Trying the Alpha version committed on 10/15 with Instagram 162.0.0.42.125:

One account has a redesign with notifications and search at the top right. It has the old style menu for stories and posts, not the one seen in #132. Selecting download on a post opens the report menu and selecting download on a story just pauses the timer and does not download.

This behavior also happens on another accou

[2020-10-17 13:02] iHelp101 commented on #135
Sorry about this. I was still adjusting some stuff last night with hooks and working on the APK. The APK is now a little more polished and updated. Please give the stories timer a try now along with long pressing the user profile icon. I am working on HD profile icons, but Instagram has really locked down their API.

https://github.com/iHelp101/XInsta/blob/master/XInsta-Alpha.apk

[2020-10-17 13:07] #32 closed

[2020-10-18 00:42] null-device commented on #135
No worries! I assumed the alpha would have issues and just tried it to test and offer feedback in hopes it'd help you gather more data. I'm happy to test on any version you need.

I've tried the version uploaded today. The same things happen when trying to download. No change to stories timer. I was able to long-press on a profile picture and it did open the zoom. Relevant log:

[code]

[2020-10-18 21:18] shadow443 commented on #133
I still haven't had time to test the new alpha. The alpha that you left me here didn't let me receive instagram notifications. That is, my friend post a photo and the notification from Instagram did not appear.

[2020-11-04 20:04] L200144011 commented on #135
Using latest alpha, with new style menu for stories, download works. But for old style menu, pressing download still goes to freeze the stories.

Here's the log for old style menu:
[code]

New style menu:
[code]

Also, I wonder why using different account gives different menu style. Is it account-based configuration or something?

[2020-11-24 01:32] S-U-M-1 commented on #132
I did not have this crash (or new story settings menu) until just today. Seems to be an incremental roll-out. XInsta 2.2.0 and 2.2.1 on Instagram 155.0.0.37.107.

[2020-11-24 02:09] iHelp101 commented on #132
I just posted a new Alpha APK. Please try it when you have a moment. This should fix the new non-dialog hooks.

https://github.com/iHelp101/XInsta/blob/master/XInsta-Alpha.apk

[2020-11-24 11:20] S-U-M-1 commented on #132
This fixes the crashes, and downloading stories now works, but downloading photos does not.

Pressing 'Download' for photos opens the 'Report' menu instead (even though there is already a 'Report' button at the top of the menu).

[2020-11-24 17:02] S-U-M-1 commented on #132
I downgraded to Instagram 144.0.0.25.119 and some earlier hooks, and everything works fine again (with the old menus).

[2020-11-24 17:54] iHelp101 commented on #132
Okay, I will work on decompiling 155.0.0.37.107 and getting the hooks for pictures. The new non dialog hook requires a new class to be used.

[2020-11-25 03:40] iHelp101 commented on #132
Hooks have been updated for this version to fix the regular feed downloads.

[2021-01-25 02:47] steven7851 opened #136 "No effect on android 8.0"
I tried many instagram versions but none of them worked.
I think because of the android version?
Log about xinsta:
[code]

[2021-01-26 01:20] iHelp101 commented on #136
I see no hook failures or confirmation, so the hooks are fetched but it looks like Xposed is not starting to hook Instagram. Do other Xposed modules work for you?

[2021-01-26 02:03] steven7851 commented on #136
Yes, other modules work fine. How can I provide more infomarion to you?

[2021-02-13 11:14] nritech commented on #111
Where to find 2.2.1 ?

Someone recently posted 2.2.2 works great with insta ver. 166 but not even one option working.
 So need link to 2.2.1 so can try with Instagram 152

[2021-02-28 09:56] acsway878787 opened #137 "The Possibility of Modding Original App for a Non-root solution."
Hello there,
I was using this module on my last phone, and I worked like a charm. However, I switched to a new phone, and I don't want to root it anymore due to the policy of Google. And then the only way to patched IG is to mod the apk directly. So I'm here to ask whether it's possible to mod the apk rather than using Xposed to hook?

Big appreciate first.

[2021-02-28 14:51] iHelp101 commented on #137
Sadly this is not an option I am willing to do. Instagram, YouTube, and Snapchat have threatened legal action to others that alter their APKs. Since you use the same APK it include their copyrighted material.

William

[2021-04-27 17:08] ayush7gl commented on #131
@iHelp101 what's the latest instagram version supported?? How to check it btw?

[2021-05-07 03:24] ghost opened #138 "[Question] Xinta No Longer Working On Android Q"
xinta 2.1.0 won't work on android Q Even after install latest version of taichi and Instagram

[2021-05-07 03:25] ghost commented on #137
XDA is your friend 😛

[2021-05-07 07:55] nritech commented on #137
I'm using for similar purpose and works great! No root!

[2022-07-26 01:25] S-U-M-1 opened #139 "XInsta doesn't download new .webp images or new stories (.webp or .mp4)"
Is this module even still being maintained? I'd hope so, since I still use it, and since October 2021, coincidentally, right after that outage, XInsta stopped being able to download several photos/videos/stories. Posts made after mid-January 2022 are practically always unable to be downloaded. I later found out (after downloading with Instander) that one of the changes causing this was a switch fr